<!-- Breadcrumb -->
<div class="breadcrumb-bar">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-8 col-12">
                <nav aria-label="breadcrumb" class="page-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a routerLink='/'>Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Course</li>
                    </ol>
                </nav>
                <h2 class="breadcrumb-title">2245 matches found for : Introduction Web Design with HTML </h2>
            </div>
            <div class="col-md-4 col-12 d-md-block d-none">
                <div class="sort-by">
                    <span class="sort-title">Sort by</span>
                    <span class="sortby-fliter">
                        <ng-select2 width="100%">
                            <option>Select</option>
                                <option class="sorting">Rating</option>
                                <option class="sorting">Popular</option>
                                <option class="sorting">Latest</option>
                                <option class="sorting">Free</option>
                        </ng-select2>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Breadcrumb -->

<!-- Page Content -->
<div class="content">
    <div class="container">

        <div class="row">
            <div class="col-md-12 col-lg-4 col-xl-3 theiaStickySidebar">
            
                <!-- Search Filter -->
                <div class="card search-filter">
                    <div class="card-header">
                        <h4 class="card-title mb-0">Search Filter</h4>
                    </div>
                    <div class="card-body">
                    <div class="filter-widget">
                        <div class="cal-icon">
                            <input type="text" class="form-control datetimepicker" placeholder="Select Date">
                        </div>			
                    </div>
                    <div class="filter-widget">
                        <h4>Price</h4>
                        <div>
                            <label class="custom_check">
                                <input type="checkbox" name="gender_type" checked>
                                <span class="checkmark"></span> Paid
                            </label>
                        </div>
                        <div>
                            <label class="custom_check">
                                <input type="checkbox" name="gender_type">
                                <span class="checkmark"></span> Free
                            </label>
                        </div>
                    </div>
                    <div class="filter-widget">
                        <h4>Select Software</h4>
                        <div>
                            <label class="custom_check">
                                <input type="checkbox" name="select_specialist" checked>
                                <span class="checkmark"></span> Photoshop
                            </label>
                        </div>
                        <div>
                            <label class="custom_check">
                                <input type="checkbox" name="select_specialist" checked>
                                <span class="checkmark"></span> Adobe Illustrator
                            </label>
                        </div>
                        <div>
                            <label class="custom_check">
                                <input type="checkbox" name="select_specialist">
                                <span class="checkmark"></span> Graphic Design
                            </label>
                        </div>
                        <div>
                            <label class="custom_check">
                                <input type="checkbox" name="select_specialist">
                                <span class="checkmark"></span> Graphic Design
                            </label>
                        </div>
                        <div>
                            <label class="custom_check">
                                <input type="checkbox" name="select_specialist">
                                <span class="checkmark"></span> InDesign
                            </label>
                        </div>
                        <div>
                            <label class="custom_check">
                                <input type="checkbox" name="select_specialist">
                                <span class="checkmark"></span> CorelDRAW
                            </label>
                        </div>
                    </div>
                    <div class="filter-widget">
                        <h4>Select Author</h4>
                        <div>
                            <label class="custom_check">
                                <input type="checkbox" name="select_specialist" checked>
                                <span class="checkmark"></span> Chris Convrse
                            </label>
                        </div>
                        <div>
                            <label class="custom_check">
                                <input type="checkbox" name="select_specialist" checked>
                                <span class="checkmark"></span> Morten Rand
                            </label>
                        </div>
                        <div>
                            <label class="custom_check">
                                <input type="checkbox" name="select_specialist">
                                <span class="checkmark"></span> Rayi Villalobos
                            </label>
                        </div>
                        <div>
                            <label class="custom_check">
                                <input type="checkbox" name="select_specialist">
                                <span class="checkmark"></span> James William
                            </label>
                        </div>
                        <div>
                            <label class="custom_check">
                                <input type="checkbox" name="select_specialist">
                                <span class="checkmark"></span> Jen Kramery
                            </label>
                        </div>
                        <div>
                            <label class="custom_check">
                                <input type="checkbox" name="select_specialist">
                                <span class="checkmark"></span> Chris Notder
                            </label>
                        </div>
                    </div>
                    <div class="filter-widget">
                        <h4>Select Skill Level</h4>
                        <div>
                            <label class="custom_check">
                                <input type="checkbox" name="select_specialist" checked>
                                <span class="checkmark"></span> Beginner
                            </label>
                        </div>
                        <div>
                            <label class="custom_check">
                                <input type="checkbox" name="select_specialist" checked>
                                <span class="checkmark"></span> Intermediate
                            </label>
                        </div>
                        <div>
                            <label class="custom_check">
                                <input type="checkbox" name="select_specialist">
                                <span class="checkmark"></span> Advanced
                            </label>
                        </div>
                        <div>
                            <label class="custom_check">
                                <input type="checkbox" name="select_specialist">
                                <span class="checkmark"></span> Advanced
                            </label>
                        </div>
                        
                    </div>
                        <div class="btn-search">
                            <button type="button" class="btn btn-block">Search</button>
                        </div>	
                    </div>
                </div>
                <!-- /Search Filter -->
                
            </div>
            
            <div class="col-md-12 col-lg-8 col-xl-9">

                <div class="row course">
                    <div class="col-sm-6 col-md-6 col-lg-6 col-xl-4">
                        <div class="profile-widget">
                            <div class="doc-img">
                                <a routerLink='/instructors/course-details'>
                                    <img class="img-fluid" alt="User Image" src="assets/img/course/c1.jpg">
                                </a>
                                <a href="javascript:void(0)" class="fav-btn">
                                    <i class="fas fa-heart"></i>
                                </a>
                                <span class="price-course">$140</span>
                            </div>
                            <div class="pro-content">
                                <h3 class="title">
                                    <a routerLink='/instructors/course-details'>Introduction Web Design with HTML</a> 
                            
                                </h3>
                                <p class="speciality">Chris Convrse</p>
                                <div class="rating">
                                    <i class="fas fa-star filled"></i>
                                    <i class="fas fa-star filled"></i>
                                    <i class="fas fa-star filled"></i>
                                    <i class="fas fa-star filled"></i>
                                    <i class="fas fa-star filled"></i>
                                    <span class="d-inline-block average-rating">(17)</span>
                                </div>
                                <div class="row row-sm">
                                    <div class="col-6">
                                        <a routerLink='/instructors/course-details' class="btn view-btn">View Course</a>
                                    </div>
                                    <div class="col-6">
                                        <a routerLink='/instructors/course-checkout' class="btn book-btn">Buy Now</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-sm-6 col-md-6 col-lg-6 col-xl-4">
                        <div class="profile-widget">
                            <div class="doc-img">
                                <a routerLink='/instructors/course-details'>
                                    <img class="img-fluid" alt="User Image" src="assets/img/course/c2.jpg">
                                </a>
                                <a href="javascript:void(0)" class="fav-btn">
                                    <i class="fas fa-heart"></i>
                                </a>
                                <span class="price-course">$120</span>
                            </div>
                            <div class="pro-content">
                                <h3 class="title">
                                    <a routerLink='/instructors/course-details'>Design Instruments for Communication</a> 
                                    
                                </h3>
                                <p class="speciality">Chris Convrse</p>
                                <div class="rating">
                                    <i class="fas fa-star filled"></i>
                                    <i class="fas fa-star filled"></i>
                                    <i class="fas fa-star filled"></i>
                                    <i class="fas fa-star filled"></i>
                                    <i class="fas fa-star"></i>
                                    <span class="d-inline-block average-rating">(35)</span>
                                </div>
                                
                                <div class="row row-sm">
                                    <div class="col-6">
                                        <a routerLink='/instructors/course-details' class="btn view-btn">View Course</a>
                                    </div>
                                    <div class="col-6">
                                        <a routerLink='/instructors/course-checkout' class="btn book-btn">Buy Now</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-sm-6 col-md-6 col-lg-6 col-xl-4">
                        <div class="profile-widget">
                            <div class="doc-img">
                                <a routerLink='/instructors/course-details'>
                                    <img class="img-fluid" alt="User Image" src="assets/img/course/c3.jpg">
                                </a>
                                <a href="javascript:void(0)" class="fav-btn">
                                    <i class="fas fa-heart"></i>
                                </a>
                                <span class="price-course">$70</span>
                            </div>
                            <div class="pro-content">
                                <h3 class="title">
                                    <a routerLink='/instructors/course-details'>How to be a DJ? Make Electronic Music</a> 
                                    
                                </h3>
                                <p class="speciality">Chris Convrse</p>
                                <div class="rating">
                                    <i class="fas fa-star filled"></i>
                                    <i class="fas fa-star filled"></i>
                                    <i class="fas fa-star filled"></i>
                                    <i class="fas fa-star filled"></i>
                                    <i class="fas fa-star"></i>
                                    <span class="d-inline-block average-rating">(27)</span>
                                </div>
                                
                                <div class="row row-sm">
                                    <div class="col-6">
                                        <a routerLink='/instructors/course-details' class="btn view-btn">View Course</a>
                                    </div>
                                    <div class="col-6">
                                        <a routerLink='/instructors/course-checkout' class="btn book-btn">Buy Now</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-sm-6 col-md-6 col-lg-6 col-xl-4">
                        <div class="profile-widget">
                            <div class="doc-img">
                                <a routerLink='/instructors/course-details'>
                                    <img class="img-fluid" alt="User Image" src="assets/img/course/c4.jpg">
                                </a>
                                <a href="javascript:void(0)" class="fav-btn">
                                    <i class="fas fa-heart"></i>
                                </a>
                                <span class="price-course">$90</span>
                            </div>
                            <div class="pro-content">
                                <h3 class="title">
                                    <a routerLink='/instructors/course-details'>How to Make Beautiful Landscape Photos?</a> 
                                    
                                </h3>
                                <p class="speciality">Chris Convrse</p>
                                <div class="rating">
                                    <i class="fas fa-star filled"></i>
                                    <i class="fas fa-star filled"></i>
                                    <i class="fas fa-star filled"></i>
                                    <i class="fas fa-star filled"></i>
                                    <i class="fas fa-star"></i>
                                    <span class="d-inline-block average-rating">(4)</span>
                                </div>
                                
                                <div class="row row-sm">
                                    <div class="col-6">
                                        <a routerLink='/instructors/course-details' class="btn view-btn">View Course</a>
                                    </div>
                                    <div class="col-6">
                                        <a routerLink='/instructors/course-checkout' class="btn book-btn">Buy Now</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-sm-6 col-md-6 col-lg-6 col-xl-4">
                        <div class="profile-widget">
                            <div class="doc-img">
                                <a routerLink='/instructors/course-details'>
                                    <img class="img-fluid" alt="User Image" src="assets/img/course/c5.jpg">
                                </a>
                                <a href="javascript:void(0)" class="fav-btn">
                                    <i class="fas fa-heart"></i>
                                </a>
                                <span class="price-course">$140</span>
                            </div>
                            <div class="pro-content">
                                <h3 class="title">
                                    <a routerLink='/instructors/course-details'>Fashion Photography From Professional</a> 
                                    
                                </h3>
                                <p class="speciality">Chris Convrse</p>
                                <div class="rating">
                                    <i class="fas fa-star filled"></i>
                                    <i class="fas fa-star filled"></i>
                                    <i class="fas fa-star filled"></i>
                                    <i class="fas fa-star filled"></i>
                                    <i class="fas fa-star"></i>
                                    <span class="d-inline-block average-rating">(66)</span>
                                </div>
                                
                                <div class="row row-sm">
                                    <div class="col-6">
                                        <a routerLink='/instructors/course-details' class="btn view-btn">View Course</a>
                                    </div>
                                    <div class="col-6">
                                        <a routerLink='/instructors/course-checkout' class="btn book-btn">Buy Now</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-sm-6 col-md-6 col-lg-6 col-xl-4">
                        <div class="profile-widget">
                            <div class="doc-img">
                                <a routerLink='/instructors/course-details'>
                                    <img class="img-fluid" alt="User Image" src="assets/img/course/c6.jpg">
                                </a>
                                <a href="javascript:void(0)" class="fav-btn">
                                    <i class="fas fa-heart"></i>
                                </a>
                                <span class="price-course">$150</span>
                            </div>
                            <div class="pro-content">
                                <h3 class="title">
                                    <a routerLink='/instructors/course-details'>Designing a Responsive Mobile Website with Muse</a> 
                                    
                                </h3>
                                <p class="speciality">Chris Convrse</p>
                                <div class="rating">
                                    <i class="fas fa-star filled"></i>
                                    <i class="fas fa-star filled"></i>
                                    <i class="fas fa-star filled"></i>
                                    <i class="fas fa-star filled"></i>
                                    <i class="fas fa-star"></i>
                                    <span class="d-inline-block average-rating">(52)</span>
                                </div>
                                
                                <div class="row row-sm">
                                    <div class="col-6">
                                        <a routerLink='/instructors/course-details' class="btn view-btn">View Course</a>
                                    </div>
                                    <div class="col-6">
                                        <a routerLink='/instructors/course-checkout' class="btn book-btn">Buy Now</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-sm-6 col-md-6 col-lg-6 col-xl-4">
                        <div class="profile-widget">
                            <div class="doc-img">
                                <a routerLink='/instructors/course-details'>
                                    <img class="img-fluid" alt="User Image" src="assets/img/course/c1.jpg">
                                </a>
                                <a href="javascript:void(0)" class="fav-btn">
                                    <i class="fas fa-heart"></i>
                                </a>
                                <span class="price-course">$120</span>
                            </div>
                            <div class="pro-content">
                                <h3 class="title">
                                    <a routerLink='/instructors/course-details'>Introduction Web Design with HTML</a> 
                                    
                                </h3>
                                <p class="speciality">Chris Convrse</p>
                                <div class="rating">
                                    <i class="fas fa-star filled"></i>
                                    <i class="fas fa-star filled"></i>
                                    <i class="fas fa-star filled"></i>
                                    <i class="fas fa-star filled"></i>
                                    <i class="fas fa-star"></i>
                                    <span class="d-inline-block average-rating">(43)</span>
                                </div>
                                
                                <div class="row row-sm">
                                    <div class="col-6">
                                        <a routerLink='/instructors/course-details' class="btn view-btn">View Course</a>
                                    </div>
                                    <div class="col-6">
                                        <a routerLink='/instructors/course-checkout' class="btn book-btn">Buy Now</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-sm-6 col-md-6 col-lg-6 col-xl-4">
                        <div class="profile-widget">
                            <div class="doc-img">
                                <a routerLink='/instructors/course-details'>
                                    <img class="img-fluid" alt="User Image" src="assets/img/course/c2.jpg">
                                </a>
                                <a href="javascript:void(0)" class="fav-btn">
                                    <i class="fas fa-heart"></i>
                                </a>
                                <span class="price-course">$50</span>
                            </div>
                            <div class="pro-content">
                                <h3 class="title">
                                    <a routerLink='/instructors/course-details'>Designing a Responsive Mobile Website with Muse</a> 
                                    
                                </h3>
                                <p class="speciality">Chris Convrse</p>
                                <div class="rating">
                                    <i class="fas fa-star filled"></i>
                                    <i class="fas fa-star filled"></i>
                                    <i class="fas fa-star filled"></i>
                                    <i class="fas fa-star filled"></i>
                                    <i class="fas fa-star"></i>
                                    <span class="d-inline-block average-rating">(49)</span>
                                </div>
                                
                                <div class="row row-sm">
                                    <div class="col-6">
                                        <a routerLink='/instructors/course-details' class="btn view-btn">View Course</a>
                                    </div>
                                    <div class="col-6">
                                        <a routerLink='/instructors/course-checkout' class="btn book-btn">Buy Now</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-sm-6 col-md-6 col-lg-6 col-xl-4">
                        <div class="profile-widget">
                            <div class="doc-img">
                                <a routerLink='/instructors/course-details'>
                                    <img class="img-fluid" alt="User Image" src="assets/img/course/c3.jpg">
                                </a>
                                <a href="javascript:void(0)" class="fav-btn">
                                    <i class="fas fa-heart"></i>
                                </a>
                                <span class="price-course">$50</span>
                            </div>
                            <div class="pro-content">
                                <h3 class="title">
                                    <a routerLink='/instructors/course-details'>Adobe XD: Prototyping Tips and Tricks</a> 
                                    
                                </h3>
                                <p class="speciality">Chris Convrse</p>
                                <div class="rating">
                                    <i class="fas fa-star filled"></i>
                                    <i class="fas fa-star filled"></i>
                                    <i class="fas fa-star filled"></i>
                                    <i class="fas fa-star filled"></i>
                                    <i class="fas fa-star"></i>
                                    <span class="d-inline-block average-rating">(112)</span>
                                </div>
                                
                                <div class="row row-sm">
                                    <div class="col-6">
                                        <a routerLink='/instructors/course-details' class="btn view-btn">View Course</a>
                                    </div>
                                    <div class="col-6">
                                        <a routerLink='/instructors/course-checkout' class="btn book-btn">Buy Now</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-sm-6 col-md-6 col-lg-6 col-xl-4">
                        <div class="profile-widget">
                            <div class="doc-img">
                                <a routerLink='/instructors/course-details'>
                                    <img class="img-fluid" alt="User Image" src="assets/img/course/c4.jpg">
                                </a>
                                <a href="javascript:void(0)" class="fav-btn">
                                    <i class="fas fa-heart"></i>
                                </a>
                                <span class="price-course">$80</span>
                            </div>
                            <div class="pro-content">
                                <h3 class="title">
                                    <a routerLink='/instructors/course-details'>Adobe XD: Prototyping Tips and Tricks</a> 
                                    
                                </h3>
                                <p class="speciality">Chris Convrse</p>
                                <div class="rating">
                                    <i class="fas fa-star filled"></i>
                                    <i class="fas fa-star filled"></i>
                                    <i class="fas fa-star filled"></i>
                                    <i class="fas fa-star filled"></i>
                                    <i class="fas fa-star"></i>
                                    <span class="d-inline-block average-rating">(65)</span>
                                </div>
                                
                                <div class="row row-sm">
                                    <div class="col-6">
                                        <a routerLink='/instructors/course-details' class="btn view-btn">View Course</a>
                                    </div>
                                    <div class="col-6">
                                        <a routerLink='/instructors/course-checkout' class="btn book-btn">Buy Now</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-sm-6 col-md-6 col-lg-6 col-xl-4">
                        <div class="profile-widget">
                            <div class="doc-img">
                                <a routerLink='/instructors/course-details'>
                                    <img class="img-fluid" alt="User Image" src="assets/img/course/c5.jpg">
                                </a>
                                <a href="javascript:void(0)" class="fav-btn">
                                    <i class="fas fa-heart"></i>
                                </a>
                                <span class="price-course">$70</span>
                            </div>
                            <div class="pro-content">
                                <h3 class="title">
                                    <a routerLink='/instructors/course-details'>Adobe XD: Prototyping Tips and Tricks</a> 
                                    
                                </h3>
                                <p class="speciality">Chris Convrse</p>
                                <div class="rating">
                                    <i class="fas fa-star filled"></i>
                                    <i class="fas fa-star filled"></i>
                                    <i class="fas fa-star filled"></i>
                                    <i class="fas fa-star filled"></i>
                                    <i class="fas fa-star"></i>
                                    <span class="d-inline-block average-rating">(5)</span>
                                </div>
                                
                                <div class="row row-sm">
                                    <div class="col-6">
                                        <a routerLink='/instructors/course-details' class="btn view-btn">View Course</a>
                                    </div>
                                    <div class="col-6">
                                        <a routerLink='/instructors/course-checkout' class="btn book-btn">Buy Now</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-sm-6 col-md-6 col-lg-6 col-xl-4">
                        <div class="profile-widget">
                            <div class="doc-img">
                                <a routerLink='/instructors/course-details'>
                                    <img class="img-fluid" alt="User Image" src="assets/img/course/c6.jpg">
                                </a>
                                <a href="javascript:void(0)" class="fav-btn">
                                    <i class="fas fa-heart"></i>
                                </a>
                                <span class="price-course">$160</span>
                            </div>
                            <div class="pro-content">
                                <h3 class="title">
                                    <a routerLink='/instructors/course-details'>Adobe XD: Prototyping Tips and Tricks</a> 
                                    
                                </h3>
                                <p class="speciality">Chris Convrse</p>
                                <div class="rating">
                                    <i class="fas fa-star filled"></i>
                                    <i class="fas fa-star filled"></i>
                                    <i class="fas fa-star filled"></i>
                                    <i class="fas fa-star filled"></i>
                                    <i class="fas fa-star"></i>
                                    <span class="d-inline-block average-rating">(5)</span>
                                </div>
                                
                                <div class="row row-sm">
                                    <div class="col-6">
                                        <a routerLink='/instructors/course-details' class="btn view-btn">View Course</a>
                                    </div>
                                    <div class="col-6">
                                        <a routerLink='/instructors/course-checkout' class="btn book-btn">Buy Now</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    
                </div>

                <div class="load-more text-center">
                    <a class="btn btn-primary btn-sm" href="javascript:void(0);">Load More</a>	
                </div>	
            </div>
        </div>

    </div>

</div>		
<!-- /Page Content -->