<!-- Breadcrumb -->
<div class="breadcrumb-bar">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-8 col-12">
        <nav aria-label="breadcrumb" class="page-breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink='/'>Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Course</li>
          </ol>
        </nav>
        <h2 class="breadcrumb-title"> </h2>
      </div>

    </div>
  </div>
</div>
<!-- /Breadcrumb -->

<!-- Page Content -->
<div class="content">
  <div class="container">

    <div class="row">
      <div class="col-md-12 col-lg-4 col-xl-3 theiaStickySidebar">

        <!-- Search Filter -->
        <div class="card search-filter">
          <div class="card-header">
            <h4 class="card-title mb-0">Search Filter</h4>
          </div>



          <!-- Search Filter Widget -->
          <div class="filter-widget " >
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Search courses" [(ngModel)]="keyword" (ngModelChange)="searchCourse()">

            </div>




            <div class="filter-widget">
              <h4>Price</h4>
              <div>
                <label class="custom_check">
                  <input type="checkbox" name="gender_type" checked>
                  <span class="checkmark"></span> Paid
                </label>
              </div>
              <div>
                <label class="custom_check">
                  <input type="checkbox" name="gender_type">
                  <span class="checkmark"></span> Free
                </label>
              </div>
            </div>
            <div class="filter-widget">
              <h4>Select Software</h4>
              <div>
                <label class="custom_check">
                  <input type="checkbox" name="select_specialist" checked>
                  <span class="checkmark"></span> Photoshop
                </label>
              </div>
              <div>
                <label class="custom_check">
                  <input type="checkbox" name="select_specialist" checked>
                  <span class="checkmark"></span> Adobe Illustrator
                </label>
              </div>
              <div>
                <label class="custom_check">
                  <input type="checkbox" name="select_specialist">
                  <span class="checkmark"></span> Graphic Design
                </label>
              </div>
              <div>
                <label class="custom_check">
                  <input type="checkbox" name="select_specialist">
                  <span class="checkmark"></span> Graphic Design
                </label>
              </div>
              <div>
                <label class="custom_check">
                  <input type="checkbox" name="select_specialist">
                  <span class="checkmark"></span> InDesign
                </label>
              </div>
              <div>
                <label class="custom_check">
                  <input type="checkbox" name="select_specialist">
                  <span class="checkmark"></span> CorelDRAW
                </label>
              </div>
            </div>
            <div class="filter-widget">
              <h4>Select Author</h4>
              <div>
                <label class="custom_check">
                  <input type="checkbox" name="select_specialist" checked>
                  <span class="checkmark"></span> Chris Convrse
                </label>
              </div>
              <div>
                <label class="custom_check">
                  <input type="checkbox" name="select_specialist" checked>
                  <span class="checkmark"></span> Morten Rand
                </label>
              </div>
              <div>
                <label class="custom_check">
                  <input type="checkbox" name="select_specialist">
                  <span class="checkmark"></span> Rayi Villalobos
                </label>
              </div>
              <div>
                <label class="custom_check">
                  <input type="checkbox" name="select_specialist">
                  <span class="checkmark"></span> James William
                </label>
              </div>
              <div>
                <label class="custom_check">
                  <input type="checkbox" name="select_specialist">
                  <span class="checkmark"></span> Jen Kramery
                </label>
              </div>
              <div>
                <label class="custom_check">
                  <input type="checkbox" name="select_specialist">
                  <span class="checkmark"></span> Chris Notder
                </label>
              </div>
            </div>
            <div class="filter-widget">
              <h4>Select Skill Level</h4>
              <div>
                <label class="custom_check">
                  <input type="checkbox" name="select_specialist" checked>
                  <span class="checkmark"></span> Beginner
                </label>
              </div>
              <div>
                <label class="custom_check">
                  <input type="checkbox" name="select_specialist" checked>
                  <span class="checkmark"></span> Intermediate
                </label>
              </div>
              <div>
                <label class="custom_check">
                  <input type="checkbox" name="select_specialist">
                  <span class="checkmark"></span> Advanced
                </label>
              </div>
              <div>
                <label class="custom_check">
                  <input type="checkbox" name="select_specialist">
                  <span class="checkmark"></span> Advanced
                </label>
              </div>

            </div>
            <div class="btn-search">
              <button type="button" class="btn btn-block">Search</button>
            </div>
          </div>
        </div>
        <!-- /Search Filter -->

      </div>


      <div class="col-md-12 col-lg-8 col-xl-9">

        <div class="row course">
          <div class="col-sm-6 col-md-6 col-lg-6 col-xl-4" *ngFor="let cr of courses">
            <div class="profile-widget">
              <div class="doc-img">
                <a routerLink='/instructors/course-details'>
                  <img class="img-fluid" alt="User Image" src="assets/img/course/c1.jpg">
                </a>
                <a href="javascript:void(0)" class="fav-btn">
                  <i class="fas fa-heart"></i>
                </a>
                <!-- PRICE OF COURSE -->

                <span class="price-course">{{cr.price}} DT </span>
              </div>
              <!-- NAME OF COURSE -->

              <div class="pro-content">
                <h3 class="title">
                  <a routerLink='/instructors/course-details'>{{ cr.nomCours }}</a>

                </h3>
                <!-- NAME OF PROFESSOR -->
                <p class="speciality">{{cr.option}}</p>

                <p class="nom">{{cr.professeur.prenom + " "+ cr.professeur.nom}}</p>
                <!-- Course Duration -->
                <p class="course-duration">Duration: {{ cr.dureeC }} Hours</p>
                <p class="course-modularity">Modularity: {{ cr.type }} </p>
                <!-- View and Buy Now Buttons -->
                <div class="row row-sm">
                  <div class="col-6">
                    <a routerLink='/instructors/course-details' class="btn view-btn">View Course</a>
                  </div>
                  <div class="col-6">
                    <!--   <a routerLink='/students/booking'   class="btn book-btn" >Book Now</a> -->
                    <button class="btn book-btn" (click)="bookCourse(cr.professeur.idUser,cr.idCours)">Book Now</button>


                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>




      </div>
      <!-- /Page Content -->
    </div>
  </div></div>
