<!-- Header -->
<header class="header">
    <nav class="navbar navbar-expand-md header-nav header-inner-nav">

        <div class="container">
            <div class="navbar-header">
                <a id="mobile_btn" href="javascript:void(0);">
                <span class="bar-icon">
                <span></span>
                <span></span>
                <span></span>
                </span>
                </a>
                <a routerLink='/' class="navbar-brand logo">
                <img src="assets/img/logoEsprit%20.png" class="img-fluid" alt="Logo">
                </a>
            </div>
            <div class="main-menu-wrapper">
                <div class="menu-header">
                    <a routerLink='/' class="menu-logo">
                    <img src="assets/img/logoEsprit%20.png" class="img-fluid" alt="Logo">
                    </a>
                    <a id="menu_close" class="menu-close" href="javascript:void(0);">
                    <i class="fas fa-times"></i>
                    </a>
                </div>
                <ul class="main-nav">
                    <li [ngClass]="[activeRoute === '' ? 'active' : '']">
                        <a routerLink='/'>Home </a>
                    </li>
                    <li class="has-submenu" *ngIf="localStorage.getItem('isLogedIn')" [ngClass]="[activeRoute === 'instructors' ? 'active' : '']">
                        <a href="">INSTRUCTORS <i class="fas fa-chevron-down"></i></a>
                        <ul class="submenu">
                            <li [ngClass]="[active2Route === 'professor-dashboard' ? 'active' : '']"><a routerLink='/instructors/professor-dashboard'>Professor Dashboard</a></li>
                            <li [ngClass]="[active2Route === 'course' ? 'active' : '']"><a routerLink='/instructors/course'>Course</a></li>
                            <li [ngClass]="[active2Route === 'sessions' ? 'active' : '']"><a routerLink='/instructors/sessions'>Sessions</a></li>
                            <li [ngClass]="[active2Route === 'schedule-timings' ? 'active' : '']"><a routerLink='/instructors/schedule-timings'>Schedule Timing</a></li>
                            <li [ngClass]="[active2Route === 'my-students' ? 'active' : '']"><a routerLink='/instructors/my-students'>Students List</a></li>
                            <li [ngClass]="[active2Route === 'student-profile' ? 'active' : '']"><a routerLink='/instructors/student-profile'>Students Profile</a></li>
                            <li [ngClass]="[active2Route === 'chat-professor' ? 'active' : '']"><a routerLink='/instructors/chat-professor'>Chat</a></li>
                            <li [ngClass]="[active2Route === 'invoices' ? 'active' : '']"><a routerLink='/pages/invoices'>Invoices</a></li>
                            <li [ngClass]="[active2Route === 'professor-profile-settings' ? 'active' : '']"><a routerLink='/instructors/professor-profile-settings'>Profile Settings</a></li>
                            <li [ngClass]="[active2Route === 'reviews' ? 'active' : '']"><a routerLink='/instructors/reviews'>Reviews</a></li>
                            <li [ngClass]="[active2Route === 'professor-register' ? 'active' : '']"><a routerLink='/instructors/professor-register'>Professor Register</a></li>

                            <li class="has-submenu">
                                <a routerLink='/instructors/professor-blog'>Blog</a>
                                <ul class="submenu">
                                    <li [ngClass]="[active2Route === 'professor-blog' ? 'active' : '']"><a routerLink='/instructors/professor-blog'>Blog</a></li>
                                    <li [ngClass]="[active2Route === 'blog-details' ? 'active' : '']"><a routerLink='/blog/blog-details'>Blog view</a></li>
                                    <li [ngClass]="[active2Route === 'professor-add-blog' ? 'active' : '']"><a routerLink='/instructors/professor-add-blog'>Add Blog</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="has-submenu"  *ngIf="localStorage.getItem('isLogedIn')" [ngClass]="[activeRoute === 'students' ? 'active' : '']">
                        <a href="">STUDENTS <i class="fas fa-chevron-down"></i></a>
                        <ul class="submenu">
                            <li class="has-submenu">
                                <a href="#">Professor</a>
                                <ul class="submenu">
                                    <li [ngClass]="[active2Route === 'map-grid' ? 'active' : '']"><a routerLink='/students/map-grid'>Map Grid</a></li>
                                    <li [ngClass]="[active2Route === 'map-list' ? 'active' : '']"><a routerLink='/students/map-list'>Map List</a></li>
                                </ul>
                            </li>
                            <li [ngClass]="[active2Route === 'search' ? 'active' : '']"><a routerLink='/students/search'>Search Professor</a></li>
                            <li [ngClass]="[active2Route === 'professor-profile' ? 'active' : '']"><a routerLink='/students/professor-profile/{{uid}}'>Professor Profile</a></li>
                            <li [ngClass]="[active2Route === 'booking' ? 'active' : '']"><a routerLink='/students/booking'>Booking</a></li>
                            <li [ngClass]="[active2Route === 'checkout' ? 'active' : '']"><a routerLink='/students/checkout'>Checkout</a></li>
                            <li [ngClass]="[active2Route === 'booking-success' ? 'active' : '']"><a routerLink='/students/booking-success'>Booking Success</a></li>
                            <li [ngClass]="[active2Route === 'student-dashboard' ? 'active' : '']"><a routerLink='/students/student-dashboard'>Student Dashboard</a></li>
                            <li [ngClass]="[active2Route === 'favourites' ? 'active' : '']"><a routerLink='/students/favourites'>Favourites</a></li>
                            <li [ngClass]="[active2Route === 'chat' ? 'active' : '']"><a routerLink='/students/chat'>Chat</a></li>
                            <li [ngClass]="[active2Route === 'profile-settings' ? 'active' : '']"><a routerLink='/students/profile-settings'>Profile Settings</a></li>
                            <li [ngClass]="[active2Route === 'change-password' ? 'active' : '']"><a routerLink='/students/change-password'>Change Password</a></li>
                        </ul>
                    </li>
                    <li class="has-submenu"  *ngIf="localStorage.getItem('isLogedIn')" [ngClass]="[activeRoute === 'pages' ? 'active' : '']">
                        <a href="">Pages <i class="fas fa-chevron-down"></i></a>
                        <ul class="submenu">
                          <li [ngClass]="[active2Route === 'activate-account' ? 'active' : '']"><a routerLink='/pages/activate-account'>activate account</a></li>
                          <li [ngClass]="[active2Route === 'voice-call' ? 'active' : '']"><a routerLink='/pages/voice-call'>Voice Call</a></li>
                            <li [ngClass]="[active2Route === 'video-call' ? 'active' : '']"><a routerLink='/pages/video-call'>Video Call</a></li>
                            <li [ngClass]="[active2Route === 'search' ? 'active' : '']"><a routerLink='/students/search'>Search Professors</a></li>
                            <li [ngClass]="[active2Route === 'calendar' ? 'active' : '']"><a routerLink='/pages/calendar'>Calendar</a></li>
                            <li [ngClass]="[active2Route === 'components' ? 'active' : '']"><a routerLink='/pages/components'>Components</a></li>

                          <li class="has-submenu">
                                <a routerLink='/pages/invoices'>Invoices</a>
                                <ul class="submenu">
                                    <li [ngClass]="[active2Route === 'invoices' ? 'active' : '']"><a routerLink='/pages/invoices'>Invoices</a></li>
                                    <li [ngClass]="[active2Route === 'invoice-view' ? 'active' : '']"><a routerLink='/pages/invoice-view'>Invoice View</a></li>
                                </ul>
                            </li>
                            <li [ngClass]="[active2Route === 'blank-page' ? 'active' : '']"><a routerLink='/pages/blank-page'>Starter Page</a></li>
                            <li [ngClass]="[active2Route === 'login' ? 'active' : '']"><a routerLink='/pages/login'>Login</a></li>
                            <li [ngClass]="[active2Route === 'register' ? 'active' : '']"><a routerLink='/pages/register'>Register</a></li>
                            <li [ngClass]="[active2Route === 'forgot-password' ? 'active' : '']"><a routerLink='/pages/forgot-password'>Forgot Password</a></li>
                        </ul>
                    </li>


                    <li class="has-submenu"  *ngIf="localStorage.getItem('isLogedIn')" [ngClass]="[activeRoute === 'blog' ? 'active' : '']">
                        <a href="">Blog <i class="fas fa-chevron-down"></i></a>
                        <ul class="submenu">
                            <li [ngClass]="[active2Route === 'blog-list' ? 'active' : '']"><a routerLink='/blog/blog-list'>Blog List</a></li>
                            <li [ngClass]="[active2Route === 'blog-grid' ? 'active' : '']"><a routerLink='/blog/blog-grid'>Blog Grid</a></li>
                            <li [ngClass]="[active2Route === 'blog-details' ? 'active' : '']"><a routerLink='/blog/blog-details'>Blog Details</a></li>
                        </ul>
                    </li>
                    <li *ngIf="localStorage.getItem('isLogedIn')" [ngClass]="[activeRoute === '/Home/reclamation' ? 'active' : '']">
                        <a routerLink='/reclamation'>Reclamation </a>
                    </li>
                    <li *ngIf="localStorage.getItem('isLogedIn')" [ngClass]="[activeRoute === '/' ? 'active' : '']">
                        <a routerLink='/collaboration'>Collab</a>
                    </li>
                    <li  [ngClass]="[activeRoute === '/' ? 'active' : '']">
                        <a routerLink='/Collaborationresssss'>Reser</a>
                    </li>
                    <li *ngIf="localStorage.getItem('isLogedIn')" class="has-submenu" [ngClass]="[activeRoute === '/' ? 'active' : '']">
                        <a routerLink='/'>Admin </a>
                       <ul class="submenu">
                           <li [ngClass]="[active2Route === 'professor-dashboard' ? 'active' : '']"><a routerLink='/collaborationadmin'>Collaborationadmin</a></li>
                           <li [ngClass]="[active2Route === 'course' ? 'active' : '']"><a routerLink='/partenairesadmin'>Partenairesadmin</a></li>
                           <li [ngClass]="[active2Route === 'course' ? 'active' : '']"><a routerLink='/pages/event-category'>Event-Category</a></li>

                           <li [ngClass]="[active2Route === 'course' ? 'active' : '']"><a routerLink='/Collaborationreservation'>Collaborationreservation</a></li>


                       </ul>
                        </li>

                    <li class="login-link"  >
                        <a routerLink='/pages/login'>Login / Signup</a>
                    </li>
                </ul>
            </div>

            <ul class="nav header-navbar-rht">
                <li class="nav-item" *ngIf="!localStorage.getItem('isLogedIn')">
                    <a routerLink='/pages/login'>Log in</a>
                </li>
                <li class="nav-item contact-item" *ngIf="!localStorage.getItem('isLogedIn')" >
                    <a routerLink='/pages/register'>Sign up</a>
                </li>

              <li class="nav-item dropdown flag-nav " *ngIf="localStorage.getItem('isLogedIn')" >
                <a class="nav-link dropdown-toggle align-items-center text-center" data-toggle="dropdown" href="#" role="button">
                  <img src="assets/img/flags/account.png" alt="" width="30" height="30" class="lang-flag">
                 {{this.nom}}<a>-</a>{{this.prenom}}
                </a>
                <div class="dropdown-menu dropdown-menu-right">
                  <a routerLink='/pages/update-account' class="dropdown-item">Account</a>
                </div>
              </li>

              <li class="nav-item contact-item" *ngIf="localStorage.getItem('isLogedIn')">
                <a (click)="logout()">Log out</a>
              </li>


            </ul>
        </div>
    </nav>
</header>
<!-- /Header -->
