<!-- Page Content -->
<div class="content">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-12">
        <div class="blog-view">
          <div class="blog blog-single-post">
            <div class="blog-image">
              <img [src]="'data:image/jpeg;base64,' + event.imgevent" alt="Event Image" style="width: 100px;height: 100px;">
              </div>
            <h3 class="blog-title">{{ event.nom }}</h3>
            <div class="blog-info clearfix">
              <div class="post-left">
                <ul>
                  <li>
                    <div class="post-author">
                      <a routerLink='/students/professor-profile'><img src="assets/img/admins/admin-02.jpg" alt="Post Author"> <span>Prof. Darren Elder</span></a>
                    </div>
                  </li>
                  <li><i class="far fa-calendar"></i>{{ event.dateDebut }}</li>
                  <li><i class="far fa-calendar"></i>{{ event.dateFin }}</li>
                  <li><i class="fa fa-tags"></i>  <p>Participants Count: {{ participantCount }}</p></li>
                </ul>
              </div>
            </div>
            <div class="blog-content">
              <p>{{ event.description }}</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-12">
        <div class="card price-discount-col">
          <div class="card-body">
              <div class="mb-3">
                  <p class="text-danger" *ngIf="daysLeft !== null" ><i class="far fa-clock"></i>     {{ daysLeft }} days left until event {{ eventStatus }}
                  </p>
                  <p class="text-danger" *ngIf="daysLeft == null && daysLeftEnd>0" ><i class="far fa-clock"></i>      {{ eventStatus }} {{ daysLeftEnd }} days </p>
                  <p class="text-danger" *ngIf="daysLeft == null && daysLeftEnd==0" ><i class="far fa-clock"></i>      {{ eventStatus }}

                  </p>
              </div>
              <div class="d-flex flex-wrap price-discount-btn">
                  <div>
                    <button class="btn btn-outline-success" *ngIf="!(isParticipating) && event.maxparticipant > participantCount && daysLeft !== null" (click)="addParticipant()">Join Event</button>
                    <button class="btn btn-outline-primary" *ngIf="(isParticipating)" (click)="removeParticipant()">Leave Event</button>

                  </div>
                  <div>
                    <button class="btn btn-outline-primary" (click)="reportEvent()">Report Event</button>
                  </div>

                  <div class="facebook-post">

                    <div class="post-interactions">

                      <button (click)="toggleReactions(event.id, $event)">
                        <img style="max-width: 30px;"
                          [src]="getReactionColor(event.id)">

                        <p>{{ reactionCount || 0 }}</p>

                        <span class="reaction-options flex gap-4 p-10" *ngIf="postShowReactions[event.id]">
                    <button (click)="reactToPost(event.id, 1, 'LIKE')"> <img
                        src="src/assets/img/reactions/like.png"/></button>
                    <button (click)="reactToPost(event.id, 1, 'LOVE')"> <img
                        src="src/assets/img/reactions/heart.png"/></button>
                    <button (click)="reactToPost(event.id, 1, 'SUPPORT')"><img
                        src="src/assets/img/reactions/wow.png"/></button>
                    <button (click)="reactToPost(event.id, 1, 'ANGRY')"> <img
                        src="src/assets/img/reactions/laugh.png"/></button>
                    <button (click)="reactToPost(event.id, 1, 'SAD')"> <img
                        src="src/assets/img/reactions/sad.png"/></button>

                    </span>
                    </button>
                  </div>
                  </div>
                  <div>
                    <button class="btn btn-outline-primary" *ngIf="UserId==event.organisateur.idUser"(click)="openUpdateEventPopup()">Update Event</button>

                  </div>
                  <div>
                    <button class="btn btn-outline-danger"*ngIf="UserId==event.organisateur.idUser" (click)="deleteUser(event.id)">Delete Event</button>

                  </div>
              </div>
          </div>
      </div>

      </div>
    </div>

    <div class="row">

    </div>
  </div>
</div>
