<!-- Breadcrumb -->
<div class="breadcrumb-bar">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-12 col-12">
                <nav aria-label="breadcrumb" class="page-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a routerLink='/'>Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Cart</li>
                    </ol>
                </nav>
                <h2 class="breadcrumb-title">Cart</h2>
            </div>
        </div>
    </div>
</div>
<!-- /Breadcrumb -->

<!-- Page Content -->
<div class="content">
    <div class="container">			
        
        <div class="card card-table">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-hover table-center mb-0">
                        <thead>
                            <tr>
                                <th>Product</th>
                                <th>Price</th>
                                <th class="text-center">Total</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <h2 class="table-avatar">
                                        <a routerLink='/instructors/course-details' class="avatar avatar-sm mr-2"><img class="avatar-img" src="assets/img/course/c1.jpg" alt="User Image"></a>
                                    </h2>
                                    <a routerLink='/instructors/course-details'>How to Make Beautiful Landscape Photos?</a>
                                </td>
                                <td>$19</td>
                                <td class="text-center">$19</td>
                                <td class="text-right">
                                    <div class="table-action">
                                        <a href="javascript:void(0);" class="btn btn-sm bg-danger-light">
                                            <i class="fas fa-times"></i>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h2 class="table-avatar">
                                        <a routerLink='/instructors/course-details' class="avatar avatar-sm mr-2"><img class="avatar-img" src="assets/img/course/c2.jpg" alt="User Image"></a>
                                    </h2>
                                    <a routerLink='/instructors/course-details'>Design Instruments for Communication</a>
                                </td>
                                <td>$22</td>
                                <td class="text-center">$22</td>
                                <td class="text-right">
                                    <div class="table-action">
                                        <a href="javascript:void(0);" class="btn btn-sm bg-danger-light">
                                            <i class="fas fa-times"></i>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h2 class="table-avatar">
                                        <a routerLink='/instructors/course-details' class="avatar avatar-sm mr-2"><img class="avatar-img" src="assets/img/course/c3.jpg" alt="User Image"></a>
                                    </h2>
                                    <a routerLink='/instructors/course-details'>How to be a DJ? Make Electronic Music</a>
                                </td>
                                <td>$10</td>
                                <td class="text-center">$10</td>
                                <td class="text-right">
                                    <div class="table-action">
                                        <a href="javascript:void(0);" class="btn btn-sm bg-danger-light">
                                            <i class="fas fa-times"></i>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h2 class="table-avatar">
                                        <a routerLink='/instructors/course-details' class="avatar avatar-sm mr-2"><img class="avatar-img" src="assets/img/course/c4.jpg" alt="User Image"></a>
                                    </h2>
                                    <a routerLink='/instructors/course-details'>Introduction Web Design with HTML</a>
                                </td>
                                <td>$26</td>
                                <td class="text-center">$26</td>
                                <td class="text-right">
                                    <div class="table-action">
                                        <a href="javascript:void(0);" class="btn btn-sm bg-danger-light">
                                            <i class="fas fa-times"></i>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h2 class="table-avatar">
                                        <a routerLink='/instructors/course-details' class="avatar avatar-sm mr-2"><img class="avatar-img" src="assets/img/course/c5.jpg" alt="User Image"></a>
                                    </h2>
                                    <a routerLink='/instructors/course-details'>Designing a Responsive Mobile Website with Muse</a>
                                </td>
                                <td>$12</td>
                                <td class="text-center">$12</td>
                                <td class="text-right">
                                    <div class="table-action">
                                        <a href="javascript:void(0);" class="btn btn-sm bg-danger-light">
                                            <i class="fas fa-times"></i>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>		
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-7 col-lg-8">
            </div>
            
            <div class="col-md-5 col-lg-4">
            
                <!-- Booking Summary -->
                <div class="card booking-card">
                    <div class="card-header">
                        <h4 class="card-title">Cart Totals</h4>
                    </div>
                    <div class="card-body">
                        
                        <div class="booking-summary">
                            <div class="booking-item-wrap">
                                <ul class="booking-date">
                                    <li>Subtotal <span>$5,877.00</span></li>
                                    
                                </ul>
                                <ul class="booking-fee pt-4">
                                    <li>Tax <span>$0.00</span></li>
                                </ul>
                                <div class="booking-total">
                                    <ul class="booking-total-list">
                                        <li>
                                            <span>Total</span>
                                            <span class="total-cost">$160</span>
                                        </li>
                                        <li>
                                            <div class="clinic-booking pt-4">
                                                <a class="apt-btn" routerLink='/instructors/course-checkout'>Proceed tocheckout</a>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /Booking Summary -->
                
            </div>
        </div>

    </div>
</div>		
<!-- /Page Content -->