<!-- Breadcrumb -->
<div class="breadcrumb-bar">
  <div class="container">
      <div class="row align-items-center">
          <div class="col-md-12 col-12">
              <nav aria-label="breadcrumb" class="page-breadcrumb">
                  <ol class="breadcrumb">
                      <li class="breadcrumb-item"><a routerLink='/'>Home</a></li>
                      <li class="breadcrumb-item active" aria-current="page">Professor Profile</li>
                  </ol>
              </nav>
              <h2 class="breadcrumb-title">Professor Profile</h2>
          </div>
      </div>
  </div>
</div>
<!-- /Breadcrumb -->

<!-- Page Content -->
<div class="content">
  <div class="container">

      <!-- professor Widget -->
      <div class="card">
          <div class="card-body">
              <div class="professor-widget">
                  <div class="doc-info-left">
                      <div class="professor-img">
                          <img src="assets/img/admins/admin-02.jpg" class="img-fluid" alt="User Image">
                      </div>
                      <div class="doc-info-cont">
                          <h4 class="doc-name">{{ userProfile.nom }}    {{ userProfile.prenom }}</h4>
                          <p class="doc-speciality">Senior Professor - Civil &  Mechanical Engineering</p>
                          <p class="doc-department"><img src="assets/img/specialities/specialities-05.png" class="img-fluid" alt="Speciality">Civil Engineering</p>

                      </div>
                  </div>
                  <div class="doc-info-right">
                      <div class="clini-infos">
                          <ul>
                              <li><i class="far fa-thumbs-up"></i> 99%</li>
                              <li><i class="far fa-comment"></i> 35 Feedback</li>
                              <li><i class="fas fa-map-marker-alt"></i> Newyork, USA</li>
                              <li><i class="far fa-money-bill-alt"></i> $100 per hour </li>
                          </ul>
                      </div>
                      <div class="professor-action">

                      </div>
                      <div class="clinic-booking">
                          <a class="apt-btn" routerLink='/students/booking'>Book Appointment</a>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <!-- /professor Widget -->

      <!-- professor Details Tab -->
      <div class="card">
          <div class="card-body pt-0">

              <!-- Tab Menu -->
              <nav class="user-tabs mb-4">
                  <ul class="nav nav-tabs nav-tabs-bottom nav-justified">
                      <li class="nav-item">
                          <a class="nav-link active" href="#doc_overview" data-toggle="tab">Overview</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#doc_reviews" data-toggle="tab">Reviews</a>
                    </li>
                  </ul>
              </nav>
              <!-- /Tab Menu -->

              <!-- Tab Content -->
              <div class="tab-content pt-0">

                  <!-- Overview Content -->
                  <div role="tabpanel" id="doc_overview" class="tab-pane fade show active">
                      <div class="row">
                          <div class="col-md-12 col-lg-9">

                              <!-- About Details -->
                              <div class="widget about-widget">
                                  <h4 class="widget-title">About Me</h4>
                                  <p>{{ userProfile.aboutMe }}</p>
                              </div>
                              <!-- /About Details -->

                              <!-- Education Details -->
                              <div class="widget education-widget">
                                <h4 class="widget-title">Education</h4>
                                <div class="experience-box">
                                    <ul class="experience-list">
                                        <!-- Loop through educations from user profile -->
                                        <li *ngFor="let education of alledu">
                                            <div class="experience-user">
                                                <div class="before-circle"></div>
                                            </div>
                                            <div class="experience-content">
                                                <div class="timeline-content">
                                                    <a href="#/" class="name">{{ education.name }}</a>
                                                    <div>{{ education.degree }}</div>
                                                    <span class="time">{{ education.dateDebut }} - {{ education.dateFin }}</span>
                                                </div>

                                            </div>

                                        </li>
                                        <i class="fas fa-plus-circle icon-red"  (click)="ajoutE()"></i>

                                    </ul>
                                </div>
                            </div>
                              <!-- /Education Details -->



                              <!-- Awards Details -->
                              <div class="widget awards-widget">
                                  <h4 class="widget-title">Awards</h4>
                                  <div class="experience-box">
                                      <ul class="experience-list">
                                        <li *ngFor="let award of allaward">
                                          <div class="experience-user">
                                              <div class="before-circle"></div>
                                          </div>
                                          <div class="experience-content">
                                              <div class="timeline-content">
                                                  <a href="#/" class="name">{{ award.name }}</a>
                                                  <span class="time">{{ award.recievedDate }}</span>
                                                  </div>
                                              </div>
                                          </li>
                                          <i class="fas fa-plus-circle icon-red"  (click)="ajoutuser()"></i>

                                        </ul>
                                        </div>
                                        </div>

                                        <div *ngIf="showajoutEForm">
                                          <form [formGroup]="addEForm" class="ajouter-form" style="display: block; position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%); z-index: 9999;">
                                            <div class="form-group">
                                              <label for="name">Award Name:</label>
                                              <input type="text" class="form-control" id="name" formControlName="name" name="name">
                                            </div>
                                            <div class="form-group">
                                              <label for="name">Where?</label>
                                              <input type="text" class="form-control" id="location" formControlName="location" name="location">
                                            </div>
                                            <div>
                                              <label for="date_Debut"> Start Date:</label>
                                              <input type="date" id="date_Debut" name="date_Debut" formControlName="date_Debut" required>
                                            </div>
                                            <div>
                                              <label for="date_fin">Recieved Date:</label>
                                              <input type="date" id="date_fin" name="date_fin" formControlName="date_fin" required>
                                            </div>
                                            <button type="button" class="btn btn-primary" (click)="onSubmitE()">Add</button>
                                            <button type="button" class="btn btn-primary" (click)="cancelE()">Close</button>
                                          </form>
                                          </div>
                              <!-- Specializations List -->
                              <div class="service-list">
                                <h4>Specializations</h4>
                                <!-- Loop through specialities from user profile -->
                                <ul class="clearfix">
                                    <li *ngFor="let speciality of allsp">{{ speciality.speciality }}</li>
                                    <i class="fas fa-plus-circle icon-red"  (click)="ajoutSp()"></i>

                                </ul>
                            </div>
                            <div *ngIf="showajoutForm">
                            <form [formGroup]="addAwardForm" class="ajouter-form" style="display: block; position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%); z-index: 9999;">
                              <div class="form-group">
                                <label for="name">Award Name:</label>
                                <input type="text" class="form-control" id="name" formControlName="name" name="name">
                              </div>
                              <div>
                                <label for="dateDebut">Recieved Date:</label>
                                <input type="date" id="dateDebut" name="dateDebut" formControlName="date_Debut" required>
                              </div>
                              <button type="button" class="btn btn-primary" (click)="onSubmit()">Add</button>
                              <button type="button" class="btn btn-primary" (click)="cancelAjout()">Close</button>
                            </form>
                          </div>
                          <div *ngIf="showajoutSForm">
                            <form [formGroup]="addSpForm" class="ajouter-form" style="display: block; position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%); z-index: 9999;">
                              <div class="form-group">
                                <label for="name">Speciality Name:</label>
                                <input type="text" class="form-control" id="speciality" formControlName="speciality" name="speciality">
                              </div>
                              <button type="button" class="btn btn-primary" (click)="onSubmitSp()">Add</button>
                              <button type="button" class="btn btn-primary" (click)="cancelS()">Close</button>
                            </form>
                          </div>
                              <!-- /Specializations List -->

                      </div>
                  </div>
                  <!-- /Overview Content -->



                  <!-- /Locations Content -->


                                  <!-- /Comment Reply -->



  </div>
</div>
<!-- /Page Content -->
