<!-- Breadcrumb -->
<div class="breadcrumb-bar">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-12 col-12">
        <nav aria-label="breadcrumb" class="page-breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink='/'>Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Blog</li>
          </ol>
        </nav>
        <h2 class="breadcrumb-title">Blog Details</h2>
      </div>
    </div>
  </div>
</div>
<!-- /Breadcrumb -->

<!-- Page Content -->
<div class="content">
  <div class="container" >
    <div class="row">
      <div class="col-lg-8 col-md-12" >
        <div class="blog-view">
          <div class="publication-resolved text-right pt-9 pr-9">
            <span *ngIf="closed === 'true'" style="text-align: right; color: #EE2C4D; font-weight: bold; font-size: 25px;">SOLVED</span>
          </div>
          <div class="blog blog-single-post">
            <h3 class="blog-title">{{ sub }}</h3>

            <div class="blog-info clearfix">
              <div class="post-left">
                <ul>
                  <li><i class="far fa-calendar"></i>{{ dPub }}</li>
                  <li><i class="far fa-comments"></i> {{ nbr_c }} Comments</li>
                  <li><i class="fa fa-tags"></i>{{ category }}</li>
                  <li><i class="fa fa-street-view"></i> {{ nbr_v}}</li>
                </ul>
              </div>
            </div>
            <div class="blog-content">
              <p>{{ c }}</p>
            </div>
            <div class="blog-image" *ngIf="imageUrl!= null">
              <img [src]="'data:image;base64,' + imageUrl" alt="Publication Image">
            </div>

          </div>



          <!-- Blog Sharing -->
          <div class="card blog-share clearfix">
            <div class="card-header" >
              <h4 class="card-title">Share the post</h4>
            </div>
            <div class="card-body">
              <ul class="social-share">
                <li><a href="#" title="Facebook"><i class="fab fa-facebook"></i></a></li>
                <li><a href="#" title="Twitter"><i class="fab fa-twitter"></i></a></li>
                <li><a href="#" title="Linkedin"><i class="fab fa-linkedin"></i></a></li>
                <li><a href="#" title="Google Plus"><i class="fab fa-google-plus"></i></a></li>
                <li><a href="#" title="Youtube"><i class="fab fa-youtube"></i></a></li>
              </ul>
            </div>
          </div>
          <!-- /Blog sharing-->

          <div *ngFor="let comment of sortComments((searchResults && searchResults.length > 0) ? searchResults : comments)">
            <div class="comment" [ngClass]="{'solution-comment':comment.solution === 'true'}">
              <div class="comment">
                <div class="comment-content">
      <span class="comment-by">
        <span class="blog-author-name">{{comment.username}}</span>
        <!-- Afficher l'indicateur de solution si le commentaire est marqué comme solution -->
        <p *ngIf="comment.solution == 'true'" class="recommended">
          <i class="far fa-thumbs-up"></i> I recommend this solution!</p>
      </span>
                  <!-- Affichage du contenu ou du textarea en fonction du mode édition -->
                  <ng-container *ngIf="!isEditing || editingCommentId !== comment.idCom">
                    <p>{{comment.content}}</p>
                  </ng-container>
                  <ng-container *ngIf="editingCommentId === comment.idCom">
                    <textarea class="form-control" [(ngModel)]="editedCommentContent && editedCommentContent.content"></textarea>
                  </ng-container>
                  <!-- /Affichage du contenu ou du textarea -->
                  <p class="blog-date">{{comment.datePublication}}</p>
                </div>
                <div class="comment-actions">
                  <div class="d-flex justify-content-between align-items-center">
                    <div>
                      <ng-container *ngIf="!isEditing || editingCommentId !== comment.idCom">
                        <button *ngIf="name === comment.username && comment.solution === 'false'" class="btn btn-primary btn-sm" (click)="toggleEditForm(comment.idCom)">
                          <i class="far fa-edit"></i> Edit
                        </button>
                        <a *ngIf="name === comment.username && comment.solution === 'false'" href="javascript:void(0);" class="text-danger btn btn-lg" (click)="confirmDelete(comment.idCom)">
                          <i class="far fa-trash-alt"></i>
                        </a>
                      </ng-container>

                      <!-- /Boutons Edit et Delete -->
                      <!-- Boutons Save Changes et Cancel uniquement lorsque vous êtes en mode d'édition -->
                      <ng-container *ngIf="isEditing && editingCommentId === comment.idCom">
                        <button  type="submit" class="btn btn-primary" (click)="onSubmitEdit()">Save Changes</button>
                        <button  type="button" class="btn btn-secondary" (click)="cancelEdit()">Cancel</button>
                      </ng-container>
                      <!-- /Boutons Save Changes et Cancel -->
                    </div>
                    <div>
                      <button class="btn custom-btn" (click)="likeComment($event, comment.idCom)">
                        <i class="far fa-thumbs-up"></i> {{comment.votePositif}} Yes
                      </button>
                      <button class="btn custom-btn-red" (click)="dislikeComment($event, comment.idCom)">
                        <i class="far fa-thumbs-down"></i>{{comment.voteNegatif}} No
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <br>
          <br>
          <br>

          <!-- add comment -->
          <div class="card new-comment clearfix" *ngIf="closed != 'true'">
            <div class="card-header">
              <h4 class="card-title">Leave Comment</h4>
            </div>
            <div class="card-body">
              <form (ngSubmit)="submitComment()">
                <div class="form-group">
                  <label>Name </label>
                  <input type="text" placeholder="Name..." class="form-control" value =" {{name }}" name="name" disabled>

                </div>

                <div class="form-group">
                  <label>Comment</label>
                  <input type="text" placeholder="Comments..." class="form-control" [(ngModel)]="commentContent" name="content">


                  <div class="form-group">
                    <label>Tags</label>
                    <div class="tags-input-container">
                      <!-- Supprimer la classe "form-control" pour permettre l'affichage des tags côte à côte -->
                      <input type="text" placeholder="Tags..."class="form-control" id="tags" name="tags" [(ngModel)]="tagInput" (keydown)="handleKeyDown($event)">
                      <div class="tags-container">
                        <!-- Ajouter la classe "tags-list" pour afficher les tags côte à côte -->
                        <div *ngFor="let tag of tagsArray; let i = index" class="tag">
                          {{ tag }}
                          <!-- Bouton de suppression de tag -->
                          <button type="button" class="btn btn-sm btn-danger" (click)="removeTag(i)">
                            <i class="fas fa-times"></i>
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>


                </div>
                <div class="submit-section">
                  <button class="btn btn-primary submit-btn" type="submit" [disabled]="!isValidForm()">Submit</button>
                </div>
              </form>
            </div>
          </div>
          <!-- add comment -->

        </div>
      </div>
      <br>
      <br>
      <br>

      <!-- Blog Sidebar -->
      <div class="col-lg-4 col-md-12 sidebar-right theiaStickySidebar">

        <!-- Search -->
        <form class="search-form" (ngSubmit)="searchComments()">
          <div class="input-group">
            <input type="text" placeholder="Search..." class="form-control" [(ngModel)]="searchTerm" name="searchTerm">
            <div class="input-group-append">
              <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i></button>
            </div>
          </div>
        </form>

        <!-- /Search -->

        <div class="card post-widget">
          <div class="card-header">
            <h4 class="card-title">Latest Posts</h4>
          </div>
          <div class="card-body">
            <ul class="latest-posts" *ngIf="publicationList | async as publications">
              <li *ngFor="let p of publications.slice(-5)" class="post-item" style="margin-bottom: 5px;">
                <div class="post-thumb">
                  <a [routerLink]="['/blog/blog-details', p.idpub]" (click)="redirectToDetails(p)">
                    <img class="img-fluid" src="assets/img/blog/OIP.jpg" alt="" width="64" height="auto">
                  </a>
                </div>
                <div class="post-info">
                  <h4>
                    <a routerLink='/blog/blog-details'>{{p.subject}}</a>
                  </h4>
                  <p>{{p.datePub}}</p>
                </div>
              </li>
            </ul>
          </div>
        </div>





        <!-- Tags -->
        <div class="card tags-widget">
          <div class="card-header">
            <h4 class="card-title">Tags</h4>
          </div>
          <div class="card-body">
            <ul class="tags">
              <li *ngFor="let tag of allTags">
        <span class="tag"
              [ngStyle]="{ 'background-color': isTagSelected(tag) || tagHovered === tag ? '#EE2C4D' : 'initial' }"
              (mouseenter)="tagHovered = tag"
              (mouseleave)="tagHovered = null"
              (click)="toggleTag(tag)">
          {{ tag }}
        </span>
              </li>
            </ul>
          </div>
        </div>
        <!-- /Tags -->

        <style>
          .tag {
            cursor: pointer;
          }
          .custom-btn {
            background-color: rgba(40, 167, 69, 0.5);
            color: white;
            border: none;
            transition: background-color 0.3s;
            padding: 4px 8px;
            font-size: 12px;
          }

          .custom-btn:hover {
            background-color: #28a745;
            cursor: pointer;
          }
          .custom-btn-red {
            background-color: rgba(220, 53, 69, 0.5);
            color: white;
            border: none;
            transition: background-color 0.3s;
            padding: 4px 8px;
            font-size: 12px;
          }

          .custom-btn-red:hover {
            background-color: #dc3545;
            cursor: pointer;
          }
          .solution-comment {
            border: 2px solid #28a745; /* Couleur verte */
            padding: 8px;
            border-radius: 5px;
          }
          .tags-input-container {
            display: flex;
            flex-wrap: wrap; /* Permettre le retour à la ligne des tags si nécessaire */
          }

          /* Redimensionnement du champ de saisie */
          .tags-input-container input {
            width: calc(100% - 10px); /* La largeur du champ de saisie est égale à la largeur du conteneur moins un espace pour le scroll */
            margin-bottom: 10px; /* Ajoutez un espacement entre le champ de saisie et les tags */
          }
          .tag button {
            position: absolute;
            top: -5px; /* Positionner le bouton un peu plus bas que le haut du rectangle */
            right: 0.25px; /* Positionner le bouton un peu plus à gauche que le coin supérieur droit */
            padding: 0;
            line-height: 1;
            margin-right: -6px;
            color: salmon;
          }
          .tag span {
            margin-right: 100px; /* Ajouter de la marge entre le texte et le bouton */
          }

        </style>


      </div>
      <!-- /Blog Sidebar -->
    </div>
  </div>
</div>
<!-- /Page Content -->
