<!-- Breadcrumb -->
<div class="breadcrumb-bar">
  <!-- Contenu du Breadcrumb -->
</div>
<!-- /Breadcrumb -->

<!-- Colonne latérale -->
<div class="col-md-12 col-lg-4 col-xl-3 theiaStickySidebar">
  <!-- Contenu de la colonne latérale -->
</div>
<!-- /Colonne latérale -->

<!-- Contenu de la page -->
<div class="content">
  <div class="container">
    <div class="row">
      <!-- Colonne latérale -->
      <div class="col-md-12 col-lg-4 col-xl-3 theiaStickySidebar"></div>
      <!-- /Colonne latérale -->

      <!-- Contenu principal -->
      <div class="col-md-12 col-lg-8 col-xl-9">
        <div class="row course">
          <div class="col-sm-6 col-md-6 col-lg-3 col-xl-3">
            <!-- Tableau des utilisateurs -->
            <table>
              <!-- En-tête du tableau -->
              <thead>
                <tr>
                  <th>Nom du partenaire</th>
                  <th>Description du partenaire</th>
                  <th>Image du partenaire</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <!-- Corps du tableau -->
              <tbody>
                <!-- Affichage des utilisateurs -->
                <tr *ngFor="let user of UsersArray">
                  <td>{{ user.nom }}</td>
                  <td>{{ user.descpart }}</td>
                  <td>
                    <img [src]="'data:image/jpeg;base64,' + user.imgpart" alt="Partenaire Image" style="width: 100px; height: 100px;">
                  </td>
                  <td>
                    <button (click)="deleteUser(user.id_part)"><i class="fa fa-trash"></i></button>
                    <button (click)="showUpdate(user)" class="edit-button"><i class="fas fa-edit"></i></button>
                  </td>
                </tr>
              </tbody>
            </table>

            <!-- Bouton pour ajouter un partenaire -->
            <button (click)="ajoutuser(user)">Ajouter un partenaire</button>
          </div>
        </div>
      </div>
      <!-- /Contenu principal -->
    </div>
  </div>
</div>

<!-- Formulaire de mise à jour -->
<div *ngIf="showUpdateForm">
  <!-- Contenu du formulaire de mise à jour -->
</div>

<!-- Formulaire d'ajout -->
<div *ngIf="showajoutForm">
  <!-- Contenu du formulaire d'ajout -->
</div>
