<!-- Breadcrumb -->

<div class="breadcrumb-bar">
  <div class="container">
      <div class="row align-items-center">
          <div class="col-md-8 col-12">
              <nav aria-label="breadcrumb" class="page-breadcrumb">
                  <ol class="breadcrumb">
                      <li class="breadcrumb-item"><a routerLink='/'>Home</a></li>
                      <li class="breadcrumb-item active" aria-current="page">collaboration</li>
                  </ol>
              </nav>
              <h2 class="breadcrumb-title">collaboration admin </h2>
          </div>
          <div class="col-md-4 col-12 d-md-block d-none">
              <div class="sort-by">
                  <span class="sort-title">Sort by</span>
                  <span class="sortby-fliter">

                  </span>
              </div>
          </div>
      </div>
  </div>
</div>
<!-- /Breadcrumb -->
<div class="col-md-12 col-lg-4 col-xl-3 theiaStickySidebar">



</div>
<!-- Page Content -->

         <!--  <div class="col-md-12 col-lg-4 col-xl-3 theiaStickySidebar"></div> -->
          <!-- Search Filter -->


          <!-- <div class="col-md-12 col-lg-8 col-xl-9 " > -->
              <div class="row course">

              <!--   <div class="col-sm-6 col-md-6 col-lg-3 col-xl-3"  *ngFor="let collab of CollaborationArray">
                  <div class="profile-widget">
                      <div class="doc-img">
                          <img class="img-fluid" [src]="'data:image/jpeg;base64,' + collab.imgcol" alt="Collaboration Image">

                          <span class="price-course">
                              {{ collab.nbrres === 0 ? 'No places left &#128546; ' : (collab.nbrres >0 ? collab.nbrres + ' Places left  &#128578;' : '') }}
                            </span>
                      </div>
                      <div class="pro-content">


                          <h3 class="title">{{ collab.nomcol }}</h3>
                          <p class="speciality">when? at {{ collab.datecol | date: 'yyyy-MM-dd HH:mm' }}!</p>
                          <p class="speciality">where? {{ collab.placecol }}!</p>






                                <div *ngIf="showCollabForm" class="collab-form-overlay" id="htmlElementIdd">
                                  <div class="collab-form" *ngIf="selectedCollab">

                                     <img *ngIf="selectedCollab.qrCodeUrl" [src]="selectedCollab.qrCodeUrl" alt="QR Code">

                                     <img class="img-fluid" [src]="'data:image/jpeg;base64,' + selectedCollab.imgcol" alt="Collaboration Image">

                        <p><strong>Teacher:</strong> {{ selectedCollab.user?.nom }}</p>

                        <p><strong>Description:</strong> {{ selectedCollab.desccol }}</p>
                        <p><strong>Date:</strong> {{ selectedCollab.datecol | date: 'yyyy-MM-dd' }}</p>
                        <p><strong>Place:</strong> {{ selectedCollab.placecol }}</p>

                        <p><strong>Partner:</strong> {{ selectedCollab.partenaires?.nom }}</p>

                    </div>
                    <button (click)="ajoutCollaboration($event)" class="add-button">Add Collaboration</button>
                      <div class="collab-form" *ngIf="selectedCollab">

                <button class="btn view-btn" >View Collaboration</button>
                </div>




                                  </div>
                                </div>
                </div>
                </div> -->
                 <!--  <div class="col-sm-6 col-md-6 col-lg-3 col-xl-3"   > -->
                      <!-- Each item -->
                      <table id="htmlElementId">
                        <thead>
                          <tr>
                            <th>Nom de la collaboration</th>
                            <th>Description de la collaboration</th>
                            <th>Date</th>
                            <th>Lieu</th>
                            <th>Prix</th>
                            <th>Image</th>
                            <th>Utilisateur</th>
                            <th>Partenaires</th>
                            <th>Nbr place</th>
<!--                             <th>categorieCollaboraiton</th>
 -->                            <th>Actions</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let collab of CollaborationArray">
                            <td>{{ collab.nomcol }}</td>
                            <td>{{ collab.desccol }}</td>
                            <td>{{ collab.datecol | date: 'yyyy-MM-dd /HH:mm:ss' }}</td>
                            <td>{{ collab.placecol }}</td>
                            <td>{{ collab.prixcol }}</td>
                            <td>
                              <img [src]="'data:image/jpeg;base64,' + collab.imgcol" alt="Collaboration Image" style="width: 100px; height: 100px;">
                            </td>
                            <td>{{ collab?.user?.nom }}</td>
                            <td>{{ collab?.partenaires?.nom }}</td>
                            <td>{{ collab.nbrres }}</td>
<!--                             <td>{{collab.categorieCollaboraiton}}</td>
 -->                            <td>
                              <button *ngIf="collab.idcol !== undefined" (click)="deleteCol(collab.idcol)">
                                <i class="fa fa-trash"></i>
                              </button>
                              <button (click)="showUpdate(collab)" class="edit-button"><i class="fas fa-edit"></i></button>
                            </td>
                          </tr>

                          <tr>
                            <td colspan="10">
                              <button (click)="ajoutCollaboration($event)" class="add-button">Add Collaboration</button>
                              <button (click)="generatePDF()" class="add-button">Generate PDF</button>
                            </td>
                          </tr>
                        </tbody>
                      </table>


                <!--   </div> -->
              </div>
        <!--   </div> -->

<!-- Search Filter -->
<!--  form here for ajout -->
<div *ngIf="showajoutForm">
  <form (ngSubmit)="addCollabimg(newCollab.nomcol, newCollab.desccol, newCollab.datecol, newCollab.placecol, newCollab.prixcol, newCollab.partenaires_id_part, newCollab.nbrres, newCollab.user_id_user )" #ajoutForm="ngForm" class="ajouter-form" style="display: block; position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%); z-index: 9999;" novalidate>
    <h2>Ajout collaboration</h2>

    <div>
      <label for="datetime">Date and Time:</label>
      <input type="datetime-local" id="datetime" name="datetime" [(ngModel)]="newCollab.datecol" required>
    </div>
    <div>
      <label for="description">Description:</label>
      <textarea id="description" name="desccol" [(ngModel)]="newCollab.desccol" required></textarea>
    </div>
    <div>
      <label for="imgcol">Image du partenaire:</label>
    <input type="file" id="imgcol" name="imgcol" required #fileInput>
  </div>
    <div>
      <label for="name">Name:</label>
      <input type="text" id="name" name="nomcol" [(ngModel)]="newCollab.nomcol" required>
    </div>
    <div>
      <label for="place">Place:</label>
      <input type="text" id="place" name="placecol" [(ngModel)]="newCollab.placecol" required>
    </div>
    <div>
      <label for="price">Price:</label>
      <input type="number" id="price" name="prixcol" [(ngModel)]="newCollab.prixcol" required>
    </div>

   <div>
  <label for="partenaire">Partenaire:</label>
  <select id="partenaire" name="partenaires_id_part" [(ngModel)]="newCollab.partenaires_id_part" required>
    <option *ngFor="let partenaire of partenaireList" [ngValue]="partenaire.id_part">{{ partenaire.nom }}</option>
  </select>
</div>
    <div>
      <label for="user">User:</label>
      <select id="user" name="user" [(ngModel)]="newCollab.user_id_user" required>
        <option *ngFor="let user of userList" [ngValue]="user.idUser">{{ user.nom }}</option>
      </select>
    </div>
  <!--   <div>
      <label for="categorieCollaboraiton">Categorie Collaboration:</label>
      <select id="categorieCollaboraiton" name="categorieCollaboraiton" [(ngModel)]="newCollab.categorieCollaboraiton" required>
       Generate options dynamically based on fetched categories
        <option *ngFor="let categorie of categorieCollaboraiton" [value]="categorie">{{ categorie }}</option>
      </select>
    </div> -->

    <div>
      <label for="price">nombre des place:</label>
      <input type="number" id="nbrres" name="nbrres" [(ngModel)]="newCollab.nbrres" required>
    </div>

    <button type="submit">Ajouter</button>
    <button type="button" (click)="cancelAjout()">Annuler</button>
  </form>
</div>
<!-- update-form.component.html -->

<div *ngIf="showUpdateForm">
  <form (ngSubmit)="updatecol(selectedUser, selectedUser?.idcol)" #updateForm class="update-form" style="display: block; position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%); z-index: 9999;">
    <h2>Modification du compte</h2>
    <h2>Ajout collaboration</h2>

    <div>
      <label for="datetime">Date and Time:</label>
      <input type="datetime-local" id="datetime" name="datetime" [(ngModel)]="selectedUser.datecol">
    </div>
    <div>
      <label for="description">Description:</label>
      <textarea id="description" name="desccol" [(ngModel)]="selectedUser.desccol"></textarea>
    </div>
    <div>
      <label for="imgcol">Image du partenaire:</label>
      <input type="file" id="imgcol" name="imgcol" (change)="onFileSelected($event)">
    </div>
    <div>
      <label for="name">Name:</label>
      <input type="text" id="name" name="nomcol" [(ngModel)]="selectedUser.nomcol">
    </div>
    <div>
      <label for="place">Place:</label>
      <input type="text" id="place" name="placecol" [(ngModel)]="selectedUser.placecol">
    </div>
    <div>
      <label for="price">Price:</label>
      <input type="number" id="price" name="prixcol" [(ngModel)]="selectedUser.prixcol">
    </div>
    <div>
      <label for="cours">Cours:</label>
      <select id="cours" name="cours" [(ngModel)]="selectedUser.cours">
        <option *ngFor="let cours of coursList" [ngValue]="cours">{{ cours.nom }}</option>
      </select>
    </div>
    <div>
      <label for="partenaire">Partenaire:</label>
      <select id="partenaire" name="partenaires_id_part" [(ngModel)]="selectedUser.partenaires_id_part">
        <option *ngFor="let partenaire of partenaireList" [ngValue]="partenaire.id_part">{{ partenaire.nom }}</option>
      </select>
    </div>
    <div>
      <label for="user">User:</label>
      <select id="user" name="user" [(ngModel)]="selectedUser.user">
        <option *ngFor="let user of userList" [ngValue]="user">{{ user.nom }}</option>
      </select>
    </div>
    <div>
      <label for="price">nbr:</label>
      <input type="number" id="price" name="prixcol" [(ngModel)]="selectedUser.nbrres">
    </div>
    <button type="submit">Ajouter</button>
    <button type="button" (click)="cancelupdate()">Annuler</button>
  </form>
</div>

<!-- /Search Filter -->
<!-- Display collaborations with sorting -->

<!--

-->

