<!-- Breadcrumb -->
<div class="breadcrumb-bar" xmlns:color="http://www.w3.org/1999/xhtml" xmlns:text-align="http://www.w3.org/1999/xhtml"
     xmlns:text-align="http://www.w3.org/1999/xhtml">
  <div class="container" *ngIf="publication | async as pubListe">
    <div class="row align-items-center">
      <div class="col-md-12 col-12">
        <nav aria-label="breadcrumb" class="page-breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink='/'>Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Blog</li>
          </ol>
        </nav>
        <h2 class="breadcrumb-title">Blog List</h2>
      </div>
    </div>
  </div>
</div>
<!-- /Breadcrumb -->

<!-- Page Content -->
<div class="content">
  <div class="container">

    <div class="row">

      <div class="col-lg-8 col-md-12">

        <!-- Blog Post -->
        <div class="blog" *ngFor="let p of (searchResults && searchResults.length > 0) ? searchResults : (publication | async)">
          <h3 class="blog-title"><a [routerLink]="['/blog/blog-details', p.idpub]" (click)="redirectToDetails(p)">{{p.subject}}</a>
            <button type="button" class="btn btn-outline-success" *ngIf="p.closed == 'true'"
                    style="float: right; color: #ffffff; background-color: #EE2C4D; border-color: #EE2C4D; font-weight: bold;" disabled>
              Solved
            </button>

          </h3>
          <div class="blog-info clearfix">
            <div class="post-left">
              <ul>
                <li>
                  <div class="post-author">
                    <a routerLink='/students/professor-profile'><img src="assets/img/admins/admin-thumb-01.jpg" alt="Post Author"> <span>{{p.username}}</span></a>
                  </div>
                </li>
                <li><i class="far fa-clock"></i>{{p.datePub}}</li>
                <li><i class="far fa-comments"></i>{{p.nbr_com}} Comments</li>
                <li><i class="fa fa-tags"></i>{{p.categories}}</li>
              </ul>
            </div>
          </div>
          <div class="blog-content">
            <p>{{p.content}}</p>
            <a [routerLink]="['/blog/blog-details', p.idpub]" (click)="redirectToDetails(p)" class="read-more">Read More</a>


          </div>


        </div>
        <!-- /Blog Post -->


        <!-- Blog Pagination -->
        <div class="row">
          <div class="col-md-12">
            <div class="blog-pagination">
              <nav>
                <ul class="pagination justify-content-center">
                  <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1"><i class="fas fa-angle-double-left"></i></a>
                  </li>
                  <li class="page-item">
                    <a class="page-link" href="#">1</a>
                  </li>
                  <li class="page-item active">
                    <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
                  </li>
                  <li class="page-item">
                    <a class="page-link" href="#">3</a>
                  </li>
                  <li class="page-item">
                    <a class="page-link" href="#"><i class="fas fa-angle-double-right"></i></a>
                  </li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
        <!-- /Blog Pagination -->

      </div>

      <!-- Blog Sidebar -->
      <div class="col-lg-4 col-md-12 sidebar-right theiaStickySidebar">


        <!-- Search -->
        <div class="card search-widget">
          <div class="card-body">
            <form class="search-form" (submit)="search()">
              <div class="input-group">
                <input type="text" [(ngModel)]="searchQuery" name="searchQuery" placeholder="Search..." class="form-control" (input)="search()">
                <div class="input-group-append">
                  <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i></button>
                </div>
              </div>
            </form>
          </div>
        </div>
        <!-- /Search -->


        <!-- Latest Posts -->
        <div class="card post-widget">
          <div class="card-header">
            <h4 class="card-title">Latest Posts</h4>
          </div>
          <div class="card-body">
            <ul class="latest-posts" *ngFor="let p of (publication | async)?.slice(-5)" style="margin-bottom: 5px;">
              <li>

                <div class="post-thumb">
                  <a [routerLink]="['/blog/blog-details', p.idpub]" (click)="redirectToDetails(p)">
                    <img class="img-fluid" src="assets/img/blog/OIP.jpg" alt="" width="64" height="auto">
                  </a>
                </div>
                <div class="post-info">
                  <h4>
                    <a routerLink='/blog/blog-details' [routerLink]="['/blog/blog-details', p.idpub]" (click)="redirectToDetails(p)">{{p.subject}}</a>
                  </h4>
                  <p>{{p.datePub}}</p>
                </div>

              </li>
            </ul>
          </div>
        </div>
        <!-- /Latest Posts -->

        <!-- Categories -->
        <div class="card category-widget">
          <div class="card-header">
            <h4 class="card-title">Blog Categories</h4>
          </div>
          <div class="card-body">
            <ul class="categories">
              <li *ngFor="let categoryy of categoriesCountMap | keyvalue">
                <a href="javascript:void(0);" (click)="filterByCategory(categoryy.key)">
                  {{ categoryy.key }} <span>({{ categoryy.value }})</span>
                </a>
              </li>
            </ul>

          </div>
        </div>

        <!-- /Categories -->

        <!-- Tags -->
        <div class="card tags-widget">
          <div class="card-header">
            <h4 class="card-title">Tags</h4>
          </div>
          <div class="card-body">
            <ul class="tags">
              <li *ngFor="let tag of allTags">
        <span class="tag"
              [ngStyle]="{ 'background-color': isTagSelected(tag) || tagHovered === tag ? '#EE2C4D' : 'initial' }"
              (mouseenter)="tagHovered = tag"
              (mouseleave)="tagHovered = null"
              (click)="toggleTag(tag)">
          {{ tag }}
        </span>
              </li>
            </ul>
          </div>
        </div>
        <!-- /Tags -->
        <style>
          .tag {
            cursor: pointer; /* Définissez le curseur sur 'pointer' pour indiquer qu'il est cliquable */
          }
        </style>



      </div>
      <!-- /Blog Sidebar -->

    </div>
  </div>
</div>
<!-- /Page Content -->
