<!-- Breadcrumb -->
<div class="breadcrumb-bar">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-12 col-12">
                <nav aria-label="breadcrumb" class="page-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a routerLink='/'>Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Cart</li>
                    </ol>
                </nav>
                <h2 class="breadcrumb-title">Cart</h2>
            </div>
        </div>
    </div>
</div>
<!-- /Breadcrumb -->

<!-- Page Content -->
<div class="content">
    <div class="container">			
        
        <div class="card card-table">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-hover table-center mb-0">
                        <thead>
                            <tr>
                                <th>Product</th>
                                <th>Price</th>
                                <th>Quantity</th>
                                <th class="text-center">Total</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let commandeProduct of commadeProductList">
                                <td>
                                    <h2 class="table-avatar">
                                        <a (click)="viewDetails(commandeProduct.product)" class="avatar avatar-sm mr-2"><img class="avatar-img" [src]="commandeProduct.product.imageUrl" alt="User Image"></a>
                                    </h2>
                                    <a (click)="viewDetails(commandeProduct.product)"> {{commandeProduct.product.description}}</a>
                                </td>
                                <td>
                                    {{commandeProduct.product.price}} Dt
                                </td>
                                <td>
                                    {{commandeProduct.quantity}}
                                    <span class="table-action" style="margin-left: 10px;">
                                        <a class="btn btn-sm bg-success-light" (click)="commandeProduct.quantity = commandeProduct.quantity + 1 ; total = total + commandeProduct.product.price ; saveState()">
                                            <i class="fas fa-plus"></i>
                                        </a>
                                        <a  class="btn btn-sm bg-danger-light" (click)="commandeProduct.quantity = commandeProduct.quantity - 1 ; verifPositif(commandeProduct) ; saveState()">
                                            <i class="fas fa-minus"></i>
                                        </a>
                                    </span>
                                </td>
                                <td class="text-center">
                                {{commandeProduct.product.price * commandeProduct.quantity}} Dt 
                                
                                
                                </td>
                                <td class="text-right">
                                    <div class="table-action" (click)="deleteProduct(commandeProduct)">
                                        <a href="javascript:void(0);" class="btn btn-sm bg-danger-light">
                                            <i class="fas fa-times"></i>
                                        </a>
                                    </div>
                                </td>
                            </tr>

                        </tbody>
                    </table>		
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-7 col-lg-8">
            </div>
            
            <div class="col-md-5 col-lg-4">
            
                <!-- Booking Summary -->
                <div class="card booking-card">
                    <div class="card-header">
                        <h4 class="card-title">Cart Totals</h4>
                    </div>
                    <div class="card-body">
                        
                        <div class="booking-summary">
                            <div class="booking-item-wrap">
                                <ul class="booking-date">
                                    <li>Subtotal <span>{{total}} Dt</span></li>
                                    
                                </ul>
                                <ul class="booking-fee pt-4">
                                    <li>Delivery <span>6 Dt</span></li>
                                </ul>
                                <div class="booking-total">
                                    <ul class="booking-total-list">
                                        <li>
                                            <span>Total</span>
                                            <span class="total-cost">{{total+6}} Dt</span>
                                        </li>
                                        <li>
                                            <div class="clinic-booking pt-4">
                                                <a class="apt-btn" routerLink='/products/checkout'>Proceed tocheckout</a>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /Booking Summary -->
                
            </div>
        </div>

    </div>
</div>		
<!-- /Page Content -->