<!-- Breadcrumb -->
<div class="breadcrumb-bar">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-12 col-12">
        <nav aria-label="breadcrumb" class="page-breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink='/'>Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Add Course</li>
          </ol>
        </nav>
        <h2 class="breadcrumb-title">Dashboard</h2>
      </div>
    </div>
  </div>
</div>
<!-- /Breadcrumb -->

<!-- Page Content -->
<div class="content">
  <div class="container">

    <div class="row">
      <div class="col-md-5 col-lg-4 col-xl-3 theiaStickySidebar">

        <!-- Profile Sidebar -->
        <div class="profile-sidebar">
          <div class="widget-profile pro-widget-content">
            <div class="profile-info-widget">
              <a href="#" class="booking-doc-img">
                <img src="assets/img/admins/admin-02.jpg" alt="User Image">
              </a>
              <div class="profile-det-info">
                <h3>Prof. Darren Elder</h3>

                <div class="student-details">
                  <h5 class="mb-0">Senior Professor - Civil & Mechanical Engineering</h5>
                </div>
              </div>
            </div>
          </div>
          <div class="dashboard-widget">
            <nav class="dashboard-menu">
              <ul>
                <li>
                  <a routerLink='/instructors/professor-dashboard'>
                    <i class="fas fa-columns"></i>
                    <span>Dashboard</span>
                  </a>
                </li>
                <li>
                  <a routerLink='/instructors/add-course'>
                    <i class="fas fa-columns"></i>
                    <span>Add Course</span>
                  </a>
                </li>
                <li>
                  <a routerLink='/instructors/get-course'>
                    <i class="fas fa-columns"></i>
                    <span>Courses List</span>
                  </a>
                </li>
                <li>
                  <a routerLink='/instructors/sessions'>
                    <i class="fas fa-calendar-check"></i>
                    <span>Appointments</span>
                  </a>
                </li>


                <li>
                  <a routerLink='/instructors/my-students'>
                    <i class="fas fa-user-injured"></i>
                    <span>My Students</span>
                  </a>
                </li>
                <li class="active">
                  <a routerLink='/instructors/schedule-timings'>
                    <i class="fas fa-hourglass-start"></i>
                    <span>Schedule Timings</span>
                  </a>
                </li>
                <li>
                  <a routerLink='/pages/invoices'>
                    <i class="fas fa-file-invoice"></i>
                    <span>Invoices</span>
                  </a>
                </li>
                <li>
                  <a routerLink='/instructors/reviews'>
                    <i class="fas fa-star"></i>
                    <span>Reviews</span>
                  </a>
                </li>
                <li>
                  <a routerLink='/instructors/chat-professor'>
                    <i class="fas fa-comments"></i>
                    <span>Message</span>
                    <small class="unread-msg">23</small>
                  </a>
                </li>
                <li>
                  <a routerLink='/instructors/professor-profile-settings'>
                    <i class="fas fa-user-cog"></i>
                    <span>Profile Settings</span>
                  </a>
                </li>
                <li>
                  <a routerLink='/instructors/social-media'>
                    <i class="fas fa-share-alt"></i>
                    <span>Social Media</span>
                  </a>
                </li>
                <li>
                  <a routerLink='/instructors/professor-change-password'>
                    <i class="fas fa-lock"></i>
                    <span>Change Password</span>
                  </a>
                </li>
                <li>
                  <a routerLink='/'>
                    <i class="fas fa-sign-out-alt"></i>
                    <span>Logout</span>
                  </a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
        <!-- /Profile Sidebar -->
      </div>


      <div class="col-md-7 col-lg-8 col-xl-9">

        <div class="row">
          <div class="col-sm-12">
            <div class="card">
              <div class="card-body">
              <h4 class="card-title">Schedule Timings</h4>
                <div class="profile-box">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="card schedule-widget mb-0">
                        <!-- Schedule Header -->
                        <div class="schedule-header">
                          <!-- Schedule Nav -->
                          <div class="schedule-nav">
                            <ul class="nav nav-tabs nav-justified">
                              <!-- Schedule Nav -->
                              <div class="schedule-nav">
                                <ul class="nav nav-tabs nav-justified">
                                  <li class="nav-item" *ngFor="let day of days">
                                    <a class="nav-link" [class.active]="selectedDay === day"
                                       (click)="selectDay(day)">{{ day }}</a>
                                  </li>
                                </ul>
                              </div>
                            </ul>
                          </div>
                        </div>
                        <div class="tab-content schedule-cont">
                          <div id="slot_sunday" class="tab-pane fade">
                            <h4 class="card-title d-flex justify-content-between">
                              <span>Time Slots</span>
                              <a class="edit-link" data-toggle="modal" href="#add_time_slot"><i
                                class="fa fa-plus-circle"></i>
                                Add Slot</a>
                            </h4>
                            <p class="text-muted mb-0">Not Available</p>
                          </div>
                          <div class="container">
                            <div class="card booking-schedule schedule-widget">
                              <div class="schedule-cont">
                                <div class="row">
                                  <div class="col-md-12">

                                    <!-- Header similar to first snippet -->
                                    <h4 class="card-title d-flex justify-content-between">
                                      <span>Time Slots</span>
                                      <a class="edit-link" data-toggle="modal" href="#edit_time_slot"><i
                                        class="fa fa-edit mr-1"></i>Edit</a>
                                    </h4>

                                    <!-- Time slots list similar to first snippet -->
                                    <div class="doc-times">
                                      <ul>
                                        <li *ngFor="let slot of timeSlots" class="doc-slot-list">
                                    <span>
                                      <span>{{ slot.startTime | date: 'h:mm a':'GMT+0100' }}</span> -
                                      <span>{{ slot.endTime | date: 'h:mm a':'GMT+0100' }}</span>
                                    </span>
                                          <a href="javascript:void(0)" class="delete_schedule"
                                             (click)="deleteSlot(slot.id)">
                                            <i class="fa fa-times"></i>
                                          </a>
                                        </li>
                                      </ul>
                                    </div>

                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>

                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="modal fade custom-modal" id="add_time_slot" tabindex="-1" role="dialog"
           aria-labelledby="addTimeSlotLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Add Time Slots</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">

            </div>
          </div>
        </div>
      </div>

      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="addTimeSlotModalLabel">Add New Time Slot</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">

          </div>
        </div>
      </div>

      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="addTimeSlotModalLabel2">Add New Time Slot</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form #slotForm="ngForm" (ngSubmit)="saveSlot(slotForm.value)">
              <div class="form-group">
                <label for="date">Date</label>
                <input type="date" class="form-control" id="date" name="date" ngModel required>
              </div>
              <div class="form-group">
                <label for="time">Start Time</label>
                <input type="time" class="form-control" id="time" name="time" ngModel required>
              </div>


              <div class="form-group">
                <label for="endTime">End Time</label>
                <input type="time" class="form-control" id="endTime" name="endTime" ngModel required>
              </div>
              <div class="modal-footer">
                <button type="submit" class="btn btn-primary" [disabled]="!slotForm.valid">Save</button>
              </div>
            </form>
          </div>
        </div>
      </div>


