<!-- Breadcrumb -->
<div class="breadcrumb-bar">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-12 col-12">
                <nav aria-label="breadcrumb" class="page-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a routerLink='/'>Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Checkout</li>
                    </ol>
                </nav>
                <h2 class="breadcrumb-title">Checkout</h2>
            </div>
        </div>
    </div>
</div>
<!-- /Breadcrumb -->

<!-- Page Content -->
<div class="content">
    <div class="container">

        <div class="row">
            <div class="col-md-7 col-lg-8">
                <div class="card">
                    <div class="card-body">


                            <!-- /Personal Information -->

                            <div class="payment-widget">
                                <h4 class="card-title">Payment Method</h4>
                              <div *ngIf="selectedPaymentMethod === 'paypal'" class="payment-list">
                                <ngx-paypal [config]="payPalConfig"></ngx-paypal>
                              </div>

                            </div>

                    </div>
                </div>

            </div>

          <div class="col-md-5 col-lg-4 theiaStickySidebar">

            <!-- Booking Summary -->
            <div class="card booking-card">
              <div class="card-header">
                <h4 class="card-title">Booking Summary</h4>
              </div>
              <div class="card-body">

                <!-- Booking professor Info -->
                <div class="booking-doc-info" >

                  <!--
                  <a routerLink="/students/professor-profile/{{ reservationDetails.professeur?.nom}} {{ reservationDetails.professeur?.prenom}}" class="booking-doc-img">
                    <img [src]="reservationDetails.professeur?.image || 'assets/img/admins/admin-02.jpg'" alt="User Image">
                  </a>
                  -->
                  <div class="profile-img">
                    <img class="rounded-1" [src]="selectedPicture " width="80" height="80" >
                  </div>

                  <div class="booking-info">
                    <h4> {{ reservationDetails.professeur?.nom }} {{ reservationDetails.professeur?.prenom }}</h4>
                  </div>
                </div>
                <!-- /Booking professor Info -->


                <div class="booking-summary">
                  <div class="booking-item-wrap">
                    <ul class="booking-date">
                      <li>Date <span>{{ reservationDetails.dateR | date: 'dd MMM yyyy' }}</span></li>
                      <li>Time <span>{{ reservationDetails.dateR | date: 'h:mm a' }}</span></li>
                    </ul>

                    <ul class="booking-fee">
                      <li>Booking Price<span> {{ reservationDetails.cours?.price }} DT </span></li>
                      <li>Booking Duration<span>{{ reservationDetails.cours?.dureeC }} Hours</span></li>


                    </ul>

                    <div class="booking-total">
                      <ul class="booking-total-list">
                        <li>
                          <span>Total</span>
                          <span class="total-cost">{{ reservationDetails.cours?.price }} DT </span>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- /Booking Summary -->

          </div>
        </div>
    </div>
</div>
          <!-- /Page Content -->
