<!-- Breadcrumb -->
<div class="breadcrumb-bar">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-12 col-12">
        <nav aria-label="breadcrumb" class="page-breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink='/'>Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Add Blog</li>
          </ol>
        </nav>
        <h2 class="breadcrumb-title">Add Blog</h2>
      </div>
    </div>
  </div>
</div>
<!-- /Breadcrumb -->

<!-- Page Content -->
<div class="content">
  <div class="container">

    <div class="row">

      <div class="col-md-50 col-lg-50 col-xl-10">
        <div class="doc-review review-listing custom-edit-service">


          <div class="col-auto">
            <a class="btn btn-primary btn-sm" routerLink='/instructors/professor-add-blog'><i class="fas fa-plus mr-1"></i> Add Blog</a>
          </div>

          <!-- Add Blog -->
          <div class="card">
            <div class="card-body">
              <h3 class="pb-3">Add Blog</h3>

              <form (ngSubmit)="onSubmit()" method="post" enctype="multipart/form-data" autocomplete="off" id="update_service" action="">
                <!-- Autres champs de formulaire pré-remplis avec les valeurs de publication -->
                <div class="service-fields mb-3">
                  <div class="row">
                    <div class="col-lg-7">
                      <div class="form-group">
                        <label>Subject <span class="text-danger">*</span></label>
                        <input class="form-control" placeholder="Subject..." type="text" name="service_title" id="service_title" [(ngModel)]="subject" required>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="service-fields mb-3">
                  <div class="row">
                    <div class="col-lg-3">
                      <div class="form-group">
                        <label for="category">Category <span class="text-danger">*</span></label>
                        <select class="form-control" id="category" name="category" [(ngModel)]="selectedCategory" required>
                          <option *ngFor="let category of categories" [value]="category">{{category}}</option>
                        </select>
                      </div>
                    </div>

                    <div class="col-lg-6">
                      <div class="form-group">
                        <label>Tags <span class="text-danger">*</span></label>
                        <div class="tags-input-container">
                          <!-- Supprimer la classe "form-control" pour permettre l'affichage des tags côte à côte -->
                          <input type="text" placeholder="Tags..."class="form-control" id="tags" name="tags" [(ngModel)]="tagInput" (keydown)="handleKeyDown($event)">
                          <div class="tags-container">
                            <!-- Ajouter la classe "tags-list" pour afficher les tags côte à côte -->
                            <div *ngFor="let tag of tagsArray; let i = index" class="tag">
                              {{ tag }}
                              <!-- Bouton de suppression de tag -->
                              <button type="button" class="btn btn-sm btn-danger" (click)="removeTag(i)">
                                <i class="fas fa-times"></i>
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="service-fields mb-3">
                  <div class="row">
                    <div class="col-lg-12">
                      <div class="form-group">
                        <label>Content <span class="text-danger">*</span></label>
                        <textarea class="form-control" placeholder="Content..." id="content" name="content" [(ngModel)]="content" rows="6" required></textarea>
                      </div>
                    </div>
                  </div>
                </div>


                <div class="submit-section">
                  <button class="btn btn-primary submit-btn" type="submit" name="form_submit" value="submit" [disabled]="!isValidForm()">Submit</button>
                </div>
              </form>

            </div>
          </div>
          <!-- /Add Blog -->

        </div>
      </div>
    </div>
  </div>
  <style>
    .tags-input-container {
      display: flex;
      flex-wrap: wrap; /* Permettre le retour à la ligne des tags si nécessaire */
    }

    /* Redimensionnement du champ de saisie */
    .tags-input-container input {
      width: calc(100% - 10px); /* La largeur du champ de saisie est égale à la largeur du conteneur moins un espace pour le scroll */
      margin-bottom: 10px; /* Ajoutez un espacement entre le champ de saisie et les tags */
    }

    /* Style pour chaque tag */
    .tag {
      background-color: #f0f0f0;
      padding: 3px 6px;
      border: 1px solid #ccc;
      border-radius: 3px;
      margin-right: 5px; /* Espacement entre les tags */
      margin-bottom: 5px; /* Espacement entre les lignes de tags */
    }

    .tag button {
      position: absolute;
      top: -5px; /* Positionner le bouton un peu plus bas que le haut du rectangle */
      right: 0.25px; /* Positionner le bouton un peu plus à gauche que le coin supérieur droit */
      padding: 0;
      line-height: 1;
      margin-right: -6px;
      color: salmon;
    }
    .tag span {
      margin-right: 100px; /* Ajouter de la marge entre le texte et le bouton */
    }

  </style>

</div>
<!-- /Page Content -->
