<div class="main-wrapper">
  <app-header></app-header>
  <router-outlet></router-outlet>
  <app-footer [hidden]="hideFooter"></app-footer>
</div>

<!-- Add Time Slot Modal -->
<div class="modal fade custom-modal" id="add_time_slot">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Add Time Slots</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="hours-info">
            <div class="row form-row hours-cont">
              <div class="col-12 col-md-10">
                <div class="row form-row">
                  <div class="col-12 col-md-6">
                    <div class="form-group">
                      <label>Start Time</label>
                      <select class="form-control">
                        <option>-</option>
                        <option>12.00 am</option>
                        <option>12.30 am</option>
                        <option>1.00 am</option>
                        <option>1.30 am</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-12 col-md-6">
                    <div class="form-group">
                      <label>End Time</label>
                      <select class="form-control">
                        <option>-</option>
                        <option>12.00 am</option>
                        <option>12.30 am</option>
                        <option>1.00 am</option>
                        <option>1.30 am</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="add-more mb-3">
            <a href="javascript:void(0);" class="add-hours"><i class="fa fa-plus-circle"></i> Add More</a>
          </div>
          <div class="submit-section text-center">
            <button type="submit" class="btn btn-primary submit-btn">Save Changes</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- /Add Time Slot Modal -->

<!-- Edit Time Slot Modal -->
<div class="modal fade custom-modal" id="edit_time_slot">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Edit Time Slots</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="hours-info">
            <div class="row form-row hours-cont">
              <div class="col-12 col-md-10">
                <div class="row form-row">
                  <div class="col-12 col-md-6">
                    <div class="form-group">
                      <label>Start Time</label>
                      <select class="form-control">
                        <option>-</option>
                        <option selected>12.00 am</option>
                        <option>12.30 am</option>
                        <option>1.00 am</option>
                        <option>1.30 am</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-12 col-md-6">
                    <div class="form-group">
                      <label>End Time</label>
                      <select class="form-control">
                        <option>-</option>
                        <option>12.00 am</option>
                        <option selected>12.30 am</option>
                        <option>1.00 am</option>
                        <option>1.30 am</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row form-row hours-cont">
              <div class="col-12 col-md-10">
                <div class="row form-row">
                  <div class="col-12 col-md-6">
                    <div class="form-group">
                      <label>Start Time</label>
                      <select class="form-control">
                        <option>-</option>
                        <option>12.00 am</option>
                        <option selected>12.30 am</option>
                        <option>1.00 am</option>
                        <option>1.30 am</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-12 col-md-6">
                    <div class="form-group">
                      <label>End Time</label>
                      <select class="form-control">
                        <option>-</option>
                        <option>12.00 am</option>
                        <option>12.30 am</option>
                        <option selected>1.00 am</option>
                        <option>1.30 am</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12 col-md-2"><label class="d-md-block d-sm-none d-none">&nbsp;</label><a href="#" class="btn btn-danger trash"><i class="far fa-trash-alt"></i></a></div>
            </div>

            <div class="row form-row hours-cont">
              <div class="col-12 col-md-10">
                <div class="row form-row">
                  <div class="col-12 col-md-6">
                    <div class="form-group">
                      <label>Start Time</label>
                      <select class="form-control">
                        <option>-</option>
                        <option>12.00 am</option>
                        <option>12.30 am</option>
                        <option selected>1.00 am</option>
                        <option>1.30 am</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-12 col-md-6">
                    <div class="form-group">
                      <label>End Time</label>
                      <select class="form-control">
                        <option>-</option>
                        <option>12.00 am</option>
                        <option>12.30 am</option>
                        <option>1.00 am</option>
                        <option selected>1.30 am</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12 col-md-2"><label class="d-md-block d-sm-none d-none">&nbsp;</label><a href="#" class="btn btn-danger trash"><i class="far fa-trash-alt"></i></a></div>
            </div>

          </div>

          <div class="add-more mb-3">
            <a href="javascript:void(0);" class="add-hours"><i class="fa fa-plus-circle"></i> Add More</a>
          </div>
          <div class="submit-section text-center">
            <button type="submit" class="btn btn-primary submit-btn">Save Changes</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- /Edit Time Slot Modal -->

<!-- Voice Call Modal -->
<div class="modal fade call-modal" id="voice_call">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <!-- Outgoing Call -->
        <div class="call-box incoming-box">
          <div class="call-wrapper">
            <div class="call-inner">
              <div class="call-user">
                <img alt="User Image" src="assets/img/admins/admin-02.jpg" class="call-avatar">
                <h4>Prof. Darren Elder</h4>
                <span>Connecting...</span>
              </div>
              <div class="call-items">
                <a href="javascript:void(0);" class="btn call-item call-end" data-dismiss="modal" aria-label="Close"><i class="material-icons">call_end</i></a>
                <a routerLink='/pages/voice-call' class="btn call-item call-start"><i class="material-icons">call</i></a>
              </div>
            </div>
          </div>
        </div>
        <!-- Outgoing Call -->

      </div>
    </div>
  </div>
</div>
<!-- /Voice Call Modal -->

<!-- Video Call Modal -->
<div class="modal fade call-modal" id="video_call">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">

        <!-- Incoming Call -->
        <div class="call-box incoming-box">
          <div class="call-wrapper">
            <div class="call-inner">
              <div class="call-user">
                <img class="call-avatar" src="assets/img/admins/admin-02.jpg" alt="User Image">
                <h4>Prof. Darren Elder</h4>
                <span>Calling ...</span>
              </div>
              <div class="call-items">
                <a href="javascript:void(0);" class="btn call-item call-end" data-dismiss="modal" aria-label="Close"><i class="material-icons">call_end</i></a>
                <a routerLink='/pages/video-call' class="btn call-item call-start"><i class="material-icons">videocam</i></a>
              </div>
            </div>
          </div>
        </div>
        <!-- /Incoming Call -->

      </div>
    </div>
  </div>
</div>
<!-- Video Call Modal -->

<!-- Appointment Details Modal -->
<div class="modal fade custom-modal" id="appt_details">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Appointment Details</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <ul class="info-details">
          <li>
            <div class="details-header">
              <div class="row">
                <div class="col-md-6">
                  <span class="title">#AST0001</span>
                  <span class="text">21 Oct 2019 10:00 AM</span>
                </div>
                <div class="col-md-6">
                  <div class="text-right">
                    <button type="button" class="btn bg-success-light btn-sm" id="topup_status">Completed</button>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li>
            <span class="title">Status:</span>
            <span class="text">Completed</span>
          </li>
          <li>
            <span class="title">Confirm Date:</span>
            <span class="text">29 Jun 2019</span>
          </li>
          <li>
            <span class="title">Paid Amount</span>
            <span class="text">$450</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- /Appointment Details Modal -->

<!-- /Activation-account -->

<div class="modal fade custom-modal" id="Activation-account">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Active account</h5>
        <button type="button" #closeActiveAccount class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container" *ngIf="submitted else codeForm">
          <div class="activation-message" *ngIf="isOk; else activationError">
            <h2>Activation Successful!</h2>
            <p>Your account has been successfully activated.</p>
            <button class="btn btn-primary" (click)="redirectToLogin()">Go to Login</button>
          </div>
          <ng-template #activationError>
            <div class="activation-error">
              <h2>Activation Failed!</h2>
              <p>{{ message }}</p>
              <button class="btn btn-primary" (click)="submitted = false">Try again</button>
            </div>
          </ng-template>
        </div>
        <ng-template #codeForm>
          <div class="container">
            <div class="text-center" style="width: 400px;">
              <h2>Type your activation code</h2>
              <code-input [isCodeHidden]="false"
                          [codeLength]="6"
                          [code]="'number'"
                          (codeCompleted)="onCodeCompleted($event)">
              </code-input>
              <button class="btn btn-primary mt-3" (click)="redirectToLogin()">Go to Login</button>
            </div>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</div>
<!-- /Activation-account -->



<!-- /Update-account -->

<div class="modal fade custom-modal" id="Update-account">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Update account</h5>
        <button type="button" #closeUpdateAccount class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container" *ngIf="submittedU else codeFormU">
          <div class="activation-message" *ngIf="isOkU else activationErrorU">
            <h2>Update Successful!</h2>
            <p>Your account has been successfully Updated.</p>
            <button class="btn btn-primary" (click)="redirectToHome()">Go to Home</button>
          </div>
          <ng-template #activationErrorU>
            <div class="activation-error">
              <h2>Update Failed!</h2>
              <p>{{ message }}</p>
              <button class="btn btn-primary" (click)="submittedU = false">Try again</button>
            </div>
          </ng-template>
        </div>
        <ng-template #codeFormU>
          <div class="container">
            <div class="text-center" style="width: 400px;">
              <h2>Type your activation codeee</h2>
              <code-input [isCodeHidden]="false"
                          [codeLength]="6"
                          [code]="'number'"
                          (codeCompleted)="onCodeCompletedU($event)">
              </code-input>
              <button class="btn btn-primary mt-3" (click)="redirectToHome()">Go to Home</button>
            </div>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</div>
<!-- /Update-account -->


<!-- /Forget-password -->

<div class="modal fade custom-modal" id="Forget-password">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Update Password</h5>
        <button type="button" #closeUpdatePassword class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container" *ngIf="submittedF else codeFormF">
          <div class="activation-message" *ngIf="isOkF else activationErrorF">
            <h2>Update Successful!</h2>
            <p>Your password has been successfully Updated.</p>
            <button class="btn btn-primary" (click)="redirectToChangePassword()">Go to Change password</button>
          </div>
          <ng-template #activationErrorF>
            <div class="activation-error">
              <h2>Update Failed!</h2>
              <p>{{ message }}</p>
              <button class="btn btn-primary" (click)="submittedF = false">Try again</button>
            </div>
          </ng-template>
        </div>
        <ng-template #codeFormF>
          <div class="container">
            <div class="text-center" style="width: 400px;">
              <h2>Type your activation code</h2>
              <code-input [isCodeHidden]="false"
                          [codeLength]="6"
                          [code]="'number'"
                          (codeCompleted)="onCodeCompletedF($event)">
              </code-input>
              <button class="btn btn-primary mt-3" (click)="redirectToChangePassword()">Go to Change password</button>
            </div>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</div>
<!-- /Forget-password -->
