<!-- Breadcrumb -->
<div class="breadcrumb-bar">

  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-12 col-12">
        <nav aria-label="breadcrumb" class="page-breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink='/'>Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Get Courses</li>
          </ol>
        </nav>
        <h2 class="breadcrumb-title">Dashboard</h2>
      </div>
    </div>
  </div>
</div>
<!-- /Breadcrumb -->

<!-- Page Content -->
<div class="content">
  <div class="container">

    <div class="row">
      <div class="col-md-5 col-lg-4 col-xl-3 theiaStickySidebar">

        <!-- Profile Sidebar -->
        <div class="profile-sidebar">
          <div class="widget-profile pro-widget-content">
            <div class="profile-info-widget">
              <a href="#" class="booking-doc-img">
                <img src="assets/img/admins/admin-02.jpg" alt="User Image">
              </a>
              <div class="profile-det-info">
                <h3>{{user.nom}} {{user.prenom}}</h3>

                <div class="student-details">
                  <h5 class="mb-0">{{user.name}}</h5>
                </div>
              </div>
            </div>
          </div>
          <div class="dashboard-widget">
            <nav class="dashboard-menu">
              <ul>
                <li>
                  <a routerLink='/instructors/professor-dashboard'>
                    <i class="fas fa-columns"></i>
                    <span>Dashboard</span>
                  </a>
                </li>
                <li>
                  <a routerLink='/instructors/add-course'>
                    <i class="fas fa-columns"></i>
                    <span>Add Course</span>
                  </a>
                </li>
                <li class="active">
                  <a routerLink='/instructors/get-course'>
                    <i class="fas fa-columns"></i>
                    <span>Courses List</span>
                  </a>
                </li>
                <li>
                  <a routerLink='/instructors/sessions'>
                    <i class="fas fa-calendar-check"></i>
                    <span>Appointments</span>
                  </a>
                </li>
                
                <li>
                  <a routerLink='/instructors/my-students'>
                    <i class="fas fa-user-injured"></i>
                    <span>My Students</span>
                  </a>
                </li>
                <li>
                  <a routerLink='/instructors/schedule-timings'>
                    <i class="fas fa-hourglass-start"></i>
                    <span>Schedule Timings</span>
                  </a>
                </li>
                <li>
                  <a routerLink='/pages/invoices'>
                    <i class="fas fa-file-invoice"></i>
                    <span>Invoices</span>
                  </a>
                </li>
                <li>
                  <a routerLink='/instructors/reviews'>
                    <i class="fas fa-star"></i>
                    <span>Reviews</span>
                  </a>
                </li>
                <li>
                  <a routerLink='/instructors/chat-professor'>
                    <i class="fas fa-comments"></i>
                    <span>Message</span>
                    <small class="unread-msg">23</small>
                  </a>
                </li>
                <li>
                  <a routerLink='/instructors/professor-profile-settings'>
                    <i class="fas fa-user-cog"></i>
                    <span>Profile Settings</span>
                  </a>
                </li>
                <li>
                  <a routerLink='/instructors/social-media'>
                    <i class="fas fa-share-alt"></i>
                    <span>Social Media</span>
                  </a>
                </li>
                <li>
                  <a routerLink='/instructors/professor-change-password'>
                    <i class="fas fa-lock"></i>
                    <i class="bi bi-arrows-angle-expand"></i>
                    <span>Change Password</span>
                  </a>
                </li>
                <li>
                  <a routerLink='/'>
                    <i class="fas fa-sign-out-alt"></i>
                    <span>Logout</span>
                  </a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
        <!-- /Profile Sidebar -->

      </div>
      <div class="col-md-7 col-lg-8 col-xl-9">
        <!-- Courses List -->
        <div class="card">
          <div class="card-header">
            <h4 class="card-title">Courses List</h4>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <div class="card-body">
                <input type="text" class="form-control" id="filter-text-box" [(ngModel)]="keyword"
                       (ngModelChange)="searchCourse()">
                </div>


              <table class="table table-striped">
                <thead>
                <tr>
                  <th>Course Name</th>
                  <th>Niveau</th>
                  <th>Option</th>
                  <th>Description</th>
                  <th>Duration</th>
                  <th>Modularity</th>
                  <th>Price</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let cr of coursResponse ">
                  <td>{{ cr.nomCours }}</td>
                  <td>{{ cr.niveau }}</td>
                  <td>{{ cr.option }}</td>
                  <td>{{ cr.descriptionCours }}</td>
                  <td>{{ cr.dureeC }}</td>
                  <td>{{ cr.type }}</td>
                  <td>{{ cr.price }}</td>

                  <td>
                    <div class="table-action">
                      <a  href="javascript:void(0);" class="btn btn-sm bg-success-light" (click)="handleEditCours(cr.idCours)">
                        <i class="fas fa-edit"></i>      Edit     
                      </a>  
                      <a href="javascript:void(0);" class="btn btn-sm bg-danger-light" (click)="handleDeleteCours(cr.idCours)">
                        <i class="far fa-trash-alt"></i>    Delete
                      </a>
                    </div>
                  </td>

                 
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
                     