<!-- Breadcrumb -->
<div class="breadcrumb-bar">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-12 col-12">
        <nav aria-label="breadcrumb" class="page-breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink='/'>Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">My Blog</li>
          </ol>
        </nav>
        <h2 class="breadcrumb-title">My Blog</h2>
      </div>
    </div>
  </div>
</div>
<!-- /Breadcrumb -->

<!-- Page Content -->
<div class="content">
  <div class="container">

    <div class="row">
      <div class="col-md-5 col-lg-4 col-xl-3 theiaStickySidebar">



      </div>
      <div class="col-md-8 col-lg-8 col-xl-8">
        <div class="doc-review review-listing justify-content-center">
          <div class="row mb-5">
            <div class="col-auto">
              <a class="btn btn-primary btn-sm" routerLink='/instructors/professor-add-blog'><i class="fas fa-plus mr-1"></i> Add Blog</a>
            </div>
          </div>
          <!-- Blog -->
          <div class="row blog-grid-row">
            <div class="col-md-4 col-sm-12" *ngFor="let publication of filteredPublications; let i = index">
              <!-- Blog Post -->
              <div class="blog grid-blog">
                <!-- Contenu de la publication -->
                <div *ngIf="editingPublicationId !== publication.idpub">
                  <div class="blog-image">
                    <a [routerLink]="['/blog/blog-details', publication.idpub]" (click)="redirectToDetails(publication)">
                      <img class="img-fluid" [src]="'assets/img/blog/OIP.jpg'" alt="Post Image" style="max-width: 50px; height: auto;">
                    </a>
                  </div>
                  <div *ngIf="publication.closed == 'true'" style="text-align: right; color: #EE2C4D; font-weight: bold;">Solved</div>


                  <div class="blog-content">
                    <ul class="entry-meta meta-item">
                      <li>
                        <div class="post-author">
                          <a routerLink='/students/professor-profile'><img src="assets/img/admins/admin-thumb-{{i + 1}}.jpg" alt="Post Author"> <span> {{name }}</span></a>
                        </div>
                      </li>
                      <li><i class="far fa-clock"></i> {{ publication.datePub }}</li>
                    </ul>
                    <h3 class="blog-title"><a routerLink='/blog/blog-details'[routerLink]="['/blog/blog-details', publication.idpub]" (click)="redirectToDetails(publication)">{{ publication.subject }}</a></h3>
                    <p class="mb-0">{{ publication.content }}</p>
                  </div>
                  <div class="row pt-3">
                    <div class="col">
                      <button class="btn btn-primary btn-sm" (click)="showEditForm(publication.idpub)">
                        <i class="far fa-edit"></i> Edit
                      </button>
                    </div>
                    <div class="col text-right">
                      <a href="javascript:void(0);" class="text-danger" (click)="deletePublication(publication.idpub)">
                        <i class="far fa-trash-alt"></i> Delete
                      </a>
                    </div>
                  </div>
                </div>
                <!-- Formulaire d'édition -->
                <div *ngIf="editingPublicationId === publication.idpub" class="edit-form">
                  <h3>Edit Publication</h3>
                  <form (submit)="onSubmitEdit()">
                    <div class="form-group">
                      <label for="editContent">Content</label>
                      <input *ngIf="editedPublication" type="text" class="form-control" id="editContent" name="editContent" [(ngModel)]="editedPublication.content">


                    </div>
                    <!-- Ajoutez les autres champs pour la modification -->
                    <button type="submit" class="btn btn-primary" (click)="onSubmitEdit()">Save Changes</button>

                    <button type="button" class="btn btn-secondary" (click)="cancelEdit()">Cancel</button>
                  </form>
                </div>
                <!-- /Formulaire d'édition -->
              </div>
              <!-- /Blog Post -->
            </div>
          </div>
          <!-- /Blog -->

          <!-- Blog Pagination -->
          <div class="row">
            <div class="col-md-12">
              <div class="blog-pagination">
                <nav>
                  <ul class="pagination justify-content-center">
                    <li class="page-item disabled">
                      <a class="page-link" href="#" tabindex="-1"><i class="fas fa-angle-double-left"></i></a>
                    </li>
                    <li class="page-item">
                      <a class="page-link" href="#">1</a>
                    </li>
                    <li class="page-item active">
                      <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="page-item">
                      <a class="page-link" href="#">3</a>
                    </li>
                    <li class="page-item">
                      <a class="page-link" href="#"><i class="fas fa-angle-double-right"></i></a>
                    </li>
                  </ul>
                </nav>
              </div>
            </div>
          </div>
          <!-- /Blog Pagination -->
          <!-- /Blog -->
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /Page Content -->
