.tagsinput-dv .ng2-tag-input.ng2-tag-input--focused, .ng2-tag-input {
    border: 1px solid #dcdcdc;
}
.tagsinput-dv .ng2-tag-input tag {
    background-color: #ff1f49 !important;
    color: #fff !important;
    display: inline-block;
    font-size: 14px;
    font-weight: normal;
    margin-right: 2px;
    border-radius: 0;
}
.tagsinput-dv .ng2-tag-input {
    padding: .25rem 10px !important;
}
.tagsinput-dv delete-icon path {
    fill: #fff !important;
}