<div class="table-container">

<table>
  <thead>
  <tr>
    <th>user name</th>
    <th>collaboration name</th>

  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let colres of ResArray">
    <td>{{ colres?.user?.nom }}</td>
    <td>{{ colres?.collaboration?.nomcol }}</td>

  </tr>
  <tr>

  </tr>
  </tbody>
</table>
</div>
<!--

<div class="add-form">
  <h2>Add Reservation Collaboration</h2>
     <form (ngSubmit)="addReservationCollaboration(newCollab.user_id, newCollab.collaboration_id   )"    >

      <div>
        <label for="userId">User ID:</label>
        <input type="number" id="userId" name="userId" [(ngModel)]="userId" disabled>
      </div>
      <div>
        <label for="partenaire">collaboration:</label>
        <select id="partenaire" name="partenaires_id_part" [(ngModel)]="newCollab.collaboration_id" required>
          <option *ngFor="let partenaire of CollaborationArray" [ngValue]="partenaire.idcol">{{ partenaire.nomcol }}</option>
        </select>
      </div>
       <button type="submit"> Add Reservation Collaboration</button>
    </form>
</div>


-->
