<!-- Banner -->
<section class="banner-section" xmlns="http://www.w3.org/1999/html">
    <div class="banner-bg"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-9 col-xl-7">
                <div class="banner-content">
                    <span>2EE EspritEducation</span>
                    <h2> Se Former autrement</h2>
                    <div class="banner-btn">
                        <a routerLink='/students/search' class="btn main-btn">Get Started</a>
                         <a routerLink='/instructors/course' class="btn sub-btn">All Courses</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /Banner -->

<!-- Info Section -->
<section class="info-section">
    <div class="container">
        <div class="row">
            <div class="col-xl-3 col-md-6 col-sm-12">
                <div class="banner-card d-flex align-items-center">
                    <div class="banner-count">
                        <h2>54</h2>
                    </div>
                    <div class="banner-contents">
                        <h2>Courses & Prograns</h2>
                        <a routerLink='/instructors/course'>READ MORE <i class="fas fa-caret-right right-nav-white-1"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6 col-sm-12">
                <div class="banner-card d-flex align-items-center">
                    <div class="banner-count">
                        <h2>1M</h2>
                    </div>
                    <div class="banner-contents">
                        <h2>Professor & Instructors</h2>
                        <a routerLink='/students/search'>READ MORE <i class="fas fa-caret-right right-nav-white-1"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6 col-sm-12">
                <div class="banner-card d-flex align-items-center">
                    <div class="banner-count">
                        <h2>2M</h2>
                    </div>
                    <div class="banner-contents">
                        <h2>Students & Learners</h2>
                        <a href="#">READ MORE <i class="fas fa-caret-right right-nav-white-1"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6 col-sm-12">
                <div class="banner-card d-flex align-items-center">
                    <div class="banner-count">
                        <h2>200</h2>
                    </div>
                    <div class="banner-contents">
                        <h2>Events & Sessions</h2>
                        <a href="#">READ MORE <i class="fas fa-caret-right right-nav-white-1"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /Info Section -->

<!-- Top Universities -->
<section class="top-universities">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="heading">
                    <div class="section-heading">
                        <div class="header-main">
                            <div class="header-left"></div>
                            <h2>TOP  <span class="text-primary">COURSES</span></h2>
                            <div class="header-right"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="university">
            <owl-carousel-o [options]="coursesCarouselOptions">
                <ng-container *ngFor="let slide of coursesCarouselslides">
                    <ng-template carouselSlide>

                        <!-- carousel item -->
                        <div class="item universities">
                            <div class="universities-card">
                                <a routerLink='/instructors/course'>
                                    <div class="universities-img">
                                        <img src="{{slide.img}}" alt="" class="img-fluid">
                                    </div>
                                    <div class="universities-content">
                                        <h4 class="mb-3">{{slide.course}}</h4>
                                        <p>{{slide.count}}</p>
                                    </div>
                                </a>
                            </div>
                            <div class="universities-card">
                                <a routerLink='/instructors/course'>
                                    <div class="universities-img">
                                        <img src="{{slide.img2}}" alt="" class="img-fluid">
                                    </div>
                                    <div class="universities-content">
                                        <h4 class="mb-3">{{slide.course2}}</h4>
                                        <p>{{slide.count2}}</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <!-- /carousel item -->

                    </ng-template>
                </ng-container>
            </owl-carousel-o>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="container">
                    <a routerLink='/instructors/course' class="view-all ">View all <i class="fas fa-caret-right right-nav-white-3"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /Top Universities -->

<!-- Popular Course -->
<section class="popular-course-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="heading">
                    <div class="section-heading">
                        <div class="header-main">
                            <div class="header-left"></div>
                            <h2>popular  <span class="text-primary">courses</span></h2>
                            <div class="header-right"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="popular-courses">
            <owl-carousel-o [options]="popularcoursesCarouselOptions">
                <ng-container>
                    <ng-template carouselSlide>
                        <!-- carousel item -->
                        <div class="item">
                            <div class="popular-course">
                                <div class="course-header d-md-flex align-items-center mb-4">
                                    <div class="img-course">
                                        <img src="assets/img/courses.png" alt="" class="img-fluid">
                                    </div>
                                    <div class="text-course">
                                        <span class="course-main">Teesside University</span>
                                        <h5>Aerospace Engineering</h5>
                                        <span class="course-secondary">Technology / Space / Aerospace</span>
                                        <p>Classes started from coming friday (21 jun 2017)</p>
                                    </div>
                                    <div class="course-rating">
                                        <span>3.2</span>
                                    </div>
                                </div>
                                <div class="course-footer d-md-flex align-items-center">
                                    <div class="course-details d-flex">
                                        <div class="text-center">
                                            <h5>Total Seats</h5>
                                            <p><i class="fas fa-user-graduate mr-1"></i> 200</p>
                                        </div>
                                        <div class="text-center">
                                            <h5>Available</h5>
                                            <p><i class="fas fa-user-graduate mr-1"></i> 100</p>
                                        </div>
                                        <div class="text-center">
                                            <h5>Duration</h5>
                                            <p><i class="far fa-file-alt mr-1"></i> 6 Months</p>
                                        </div>
                                    </div>
                                    <div class="course-book">
                                        <a routerLink='/students/booking' class="btn btn-secondary">BOOK NOW</a>
                                    </div>
                                </div>
                            </div>
                            <div class="popular-course">
                                <div class="course-header d-md-flex align-items-center mb-4">
                                    <div class="img-course">
                                        <img src="assets/img/blog/blog-01.jpg" alt="" class="img-fluid">
                                    </div>
                                    <div class="text-course">
                                        <span class="course-main">Imperial College London</span>
                                        <h5>Computer Science</h5>
                                        <span class="course-secondary">Technology / Space / Aerospace</span>
                                        <p>Classes started from coming friday (21 jun 2017)</p>
                                    </div>
                                    <div class="course-rating">
                                        <span>3.2</span>
                                    </div>
                                </div>
                                <div class="course-footer d-md-flex align-items-center">
                                    <div class="course-details d-flex">
                                        <div class="text-center">
                                            <h5>Total Seats</h5>
                                            <p><i class="fas fa-user-graduate mr-1"></i> 200</p>
                                        </div>
                                        <div class="text-center">
                                            <h5>Available</h5>
                                            <p><i class="fas fa-user-graduate mr-1"></i> 100</p>
                                        </div>
                                        <div class="text-center">
                                            <h5>Duration</h5>
                                            <p><i class="far fa-file-alt mr-1"></i> 6 Months</p>
                                        </div>
                                    </div>
                                    <div class="course-book">
                                        <a routerLink='/students/booking' class="btn btn-secondary">BOOK NOW</a>
                                    </div>
                                </div>
                            </div>
                            <div class="popular-course">
                                <div class="course-header d-md-flex align-items-center mb-4">
                                    <div class="img-course">
                                        <img src="assets/img/blog/blog-02.jpg" alt="" class="img-fluid">
                                    </div>
                                    <div class="text-course">
                                        <span class="course-main">University of Hertfordshire</span>
                                        <h5>Business Management</h5>
                                        <span class="course-secondary">Technology / Space / Aerospace</span>
                                        <p>Classes started from coming friday (21 jun 2017)</p>
                                    </div>
                                    <div class="course-rating">
                                        <span>3.2</span>
                                    </div>
                                </div>
                                <div class="course-footer d-md-flex align-items-center">
                                    <div class="course-details d-flex">
                                        <div class="text-center">
                                            <h5>Total Seats</h5>
                                            <p><i class="fas fa-user-graduate mr-1"></i> 200</p>
                                        </div>
                                        <div class="text-center">
                                            <h5>Available</h5>
                                            <p><i class="fas fa-user-graduate mr-1"></i> 100</p>
                                        </div>
                                        <div class="text-center">
                                            <h5>Duration</h5>
                                            <p><i class="far fa-file-alt mr-1"></i> 6 Months</p>
                                        </div>
                                    </div>
                                    <div class="course-book">
                                        <a routerLink='/students/booking' class="btn btn-secondary">BOOK NOW</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /carousel item -->
                    </ng-template>
                    <ng-template carouselSlide>
                        <!-- carousel item -->
                        <div class="item">
                            <div class="popular-course">
                                <div class="course-header d-md-flex align-items-center mb-4">
                                    <div class="img-course">
                                        <img src="assets/img/courses.png" alt="" class="img-fluid">
                                    </div>
                                    <div class="text-course">
                                        <span class="course-main">Teesside University</span>
                                        <h5>Aerospace Engineering</h5>
                                        <span class="course-secondary">Technology / Space / Aerospace</span>
                                        <p>Classes started from coming friday (21 jun 2017)</p>
                                    </div>
                                    <div class="course-rating">
                                        <span>3.2</span>
                                    </div>
                                </div>
                                <div class="course-footer d-md-flex align-items-center">
                                    <div class="course-details d-flex">
                                        <div class="text-center">
                                            <h5>Total Seats</h5>
                                            <p><i class="fas fa-user-graduate mr-1"></i> 200</p>
                                        </div>
                                        <div class="text-center">
                                            <h5>Available</h5>
                                            <p><i class="fas fa-user-graduate mr-1"></i> 100</p>
                                        </div>
                                        <div class="text-center">
                                            <h5>Duration</h5>
                                            <p><i class="far fa-file-alt mr-1"></i> 6 Months</p>
                                        </div>
                                    </div>
                                    <div class="course-book">
                                        <a routerLink='/students/booking' class="btn btn-secondary">BOOK NOW</a>
                                    </div>
                                </div>
                            </div>
                            <div class="popular-course">
                                <div class="course-header d-md-flex align-items-center mb-4">
                                    <div class="img-course">
                                        <img src="assets/img/blog/blog-01.jpg" alt="" class="img-fluid">
                                    </div>
                                    <div class="text-course">
                                        <span class="course-main">Imperial College London</span>
                                        <h5>Computer Science</h5>
                                        <span class="course-secondary">Technology / Space / Aerospace</span>
                                        <p>Classes started from coming friday (21 jun 2017)</p>
                                    </div>
                                    <div class="course-rating">
                                        <span>3.2</span>
                                    </div>
                                </div>
                                <div class="course-footer d-md-flex align-items-center">
                                    <div class="course-details d-flex">
                                        <div class="text-center">
                                            <h5>Total Seats</h5>
                                            <p><i class="fas fa-user-graduate mr-1"></i> 200</p>
                                        </div>
                                        <div class="text-center">
                                            <h5>Available</h5>
                                            <p><i class="fas fa-user-graduate mr-1"></i> 100</p>
                                        </div>
                                        <div class="text-center">
                                            <h5>Duration</h5>
                                            <p><i class="far fa-file-alt mr-1"></i> 6 Months</p>
                                        </div>
                                    </div>
                                    <div class="course-book">
                                        <a routerLink='/students/booking' class="btn btn-secondary">BOOK NOW</a>
                                    </div>
                                </div>
                            </div>
                            <div class="popular-course">
                                <div class="course-header d-md-flex align-items-center mb-4">
                                    <div class="img-course">
                                        <img src="assets/img/blog/blog-02.jpg" alt="" class="img-fluid">
                                    </div>
                                    <div class="text-course">
                                        <span class="course-main">University of Hertfordshire</span>
                                        <h5>Business Management</h5>
                                        <span class="course-secondary">Technology / Space / Aerospace</span>
                                        <p>Classes started from coming friday (21 jun 2017)</p>
                                    </div>
                                    <div class="course-rating">
                                        <span>3.2</span>
                                    </div>
                                </div>
                                <div class="course-footer d-md-flex align-items-center">
                                    <div class="course-details d-flex">
                                        <div class="text-center">
                                            <h5>Total Seats</h5>
                                            <p><i class="fas fa-user-graduate mr-1"></i> 200</p>
                                        </div>
                                        <div class="text-center">
                                            <h5>Available</h5>
                                            <p><i class="fas fa-user-graduate mr-1"></i> 100</p>
                                        </div>
                                        <div class="text-center">
                                            <h5>Duration</h5>
                                            <p><i class="far fa-file-alt mr-1"></i> 6 Months</p>
                                        </div>
                                    </div>
                                    <div class="course-book">
                                        <a routerLink='/students/booking' class="btn btn-secondary">BOOK NOW</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /carousel item -->
                    </ng-template>
                    <ng-template carouselSlide>
                        <!-- carousel item -->
                        <div class="item">
                            <div class="popular-course">
                                <div class="course-header d-md-flex align-items-center mb-4">
                                    <div class="img-course">
                                        <img src="assets/img/courses.png" alt="" class="img-fluid">
                                    </div>
                                    <div class="text-course">
                                        <span class="course-main">Teesside University</span>
                                        <h5>Aerospace Engineering</h5>
                                        <span class="course-secondary">Technology / Space / Aerospace</span>
                                        <p>Classes started from coming friday (21 jun 2017)</p>
                                    </div>
                                    <div class="course-rating">
                                        <span>3.2</span>
                                    </div>
                                </div>
                                <div class="course-footer d-md-flex align-items-center">
                                    <div class="course-details d-flex">
                                        <div class="text-center">
                                            <h5>Total Seats</h5>
                                            <p><i class="fas fa-user-graduate mr-1"></i> 200</p>
                                        </div>
                                        <div class="text-center">
                                            <h5>Available</h5>
                                            <p><i class="fas fa-user-graduate mr-1"></i> 100</p>
                                        </div>
                                        <div class="text-center">
                                            <h5>Duration</h5>
                                            <p><i class="far fa-file-alt mr-1"></i> 6 Months</p>
                                        </div>
                                    </div>
                                    <div class="course-book">
                                        <a routerLink='/students/booking' class="btn btn-secondary">BOOK NOW</a>
                                    </div>
                                </div>
                            </div>
                            <div class="popular-course">
                                <div class="course-header d-md-flex align-items-center mb-4">
                                    <div class="img-course">
                                        <img src="assets/img/blog/blog-01.jpg" alt="" class="img-fluid">
                                    </div>
                                    <div class="text-course">
                                        <span class="course-main">Imperial College London</span>
                                        <h5>Computer Science</h5>
                                        <span class="course-secondary">Technology / Space / Aerospace</span>
                                        <p>Classes started from coming friday (21 jun 2017)</p>
                                    </div>
                                    <div class="course-rating">
                                        <span>3.2</span>
                                    </div>
                                </div>
                                <div class="course-footer d-md-flex align-items-center">
                                    <div class="course-details d-flex">
                                        <div class="text-center">
                                            <h5>Total Seats</h5>
                                            <p><i class="fas fa-user-graduate mr-1"></i> 200</p>
                                        </div>
                                        <div class="text-center">
                                            <h5>Available</h5>
                                            <p><i class="fas fa-user-graduate mr-1"></i> 100</p>
                                        </div>
                                        <div class="text-center">
                                            <h5>Duration</h5>
                                            <p><i class="far fa-file-alt mr-1"></i> 6 Months</p>
                                        </div>
                                    </div>
                                    <div class="course-book">
                                        <a routerLink='/students/booking' class="btn btn-secondary">BOOK NOW</a>
                                    </div>
                                </div>
                            </div>
                            <div class="popular-course">
                                <div class="course-header d-md-flex align-items-center mb-4">
                                    <div class="img-course">
                                        <img src="assets/img/blog/blog-02.jpg" alt="" class="img-fluid">
                                    </div>
                                    <div class="text-course">
                                        <span class="course-main">University of Hertfordshire</span>
                                        <h5>Business Management</h5>
                                        <span class="course-secondary">Technology / Space / Aerospace</span>
                                        <p>Classes started from coming friday (21 jun 2017)</p>
                                    </div>
                                    <div class="course-rating">
                                        <span>3.2</span>
                                    </div>
                                </div>
                                <div class="course-footer d-md-flex align-items-center">
                                    <div class="course-details d-flex">
                                        <div class="text-center">
                                            <h5>Total Seats</h5>
                                            <p><i class="fas fa-user-graduate mr-1"></i> 200</p>
                                        </div>
                                        <div class="text-center">
                                            <h5>Available</h5>
                                            <p><i class="fas fa-user-graduate mr-1"></i> 100</p>
                                        </div>
                                        <div class="text-center">
                                            <h5>Duration</h5>
                                            <p><i class="far fa-file-alt mr-1"></i> 6 Months</p>
                                        </div>
                                    </div>
                                    <div class="course-book">
                                        <a routerLink='/students/booking' class="btn btn-secondary">BOOK NOW</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /carousel item -->
                    </ng-template>
                </ng-container>
            </owl-carousel-o>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="container">
                    <a routerLink='/instructors/course' class="view-all ">View all <i class="fas fa-caret-right right-nav-white-3"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /Popular Course -->

<!-- Top Instructor -->
<section class="top-instructor">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="heading">
                    <div class="section-heading">
                        <div class="header-main">
                            <div class="header-left"></div>
                            <h2>TOP   <span class="text-primary">INSTRUCTORS</span></h2>
                            <div class="header-right"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-xl-3">
                <div class="popular-instructors">
                    <div class="instructors-head">
                        <div class="instructors-aut-img">
                            <img src="assets/img/admins/admin-02.jpg" alt="">
                        </div>
                    </div>
                    <div class="instructors-body">
                        <div class="instructors-ratings">
                            <ul class="mb-0">
                                <li>	<i class="fas fa-star checked"></i>
                                </li>
                                <li>	<i class="fas fa-star checked"></i>
                                </li>
                                <li>	<i class="fas fa-star checked"></i>
                                </li>
                                <li>	<i class="fas fa-star checked"></i>
                                </li>
                                <li>	<i class="fas fa-star not-checked"></i>
                                </li>
                            </ul>
                            <p class="mb-0">David Lee</p>
                            <h4 class="mb-0">Aerospace Engineering</h4>
                        </div>
                    </div>
                    <div class="about-instructor">
                        <div class="w-100 d-flex mb-2">
                            <div class="w-50">
                                <div class="instructor-univ d-flex align-items-center border-univ">
                                    <i class="fas fa-university"></i>
                                    <p>University of Hertfordshire</p>
                                </div>
                            </div>
                            <div class="w-50 pl-3">
                                <div class="instructor-univ d-flex align-items-center">
                                    <i class="fas fa-book"></i>
                                    <div class="d-block">
                                        <h5>Expertise </h5>
                                        <p>Aerodynamics</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="instructors-border"></div>
                    <div class="instructors-footer d-flex align-items-center">
                        <div class="instructors-count">
                            <p>Experience : 25 years</p>
                        </div>
                        <div class="instructors-amt ml-auto">
                            <a routerLink='/students/professor-profile' class="btn btn-secondary">BOOK NOW</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xl-3">
                <div class="popular-instructors">
                    <div class="instructors-head">
                        <div class="instructors-aut-img">
                            <img src="assets/img/admins/admin-11.jpg" alt="">
                        </div>
                    </div>
                    <div class="instructors-body">
                        <div class="instructors-ratings">
                            <ul class="mb-0">
                                <li>	<i class="fas fa-star checked"></i>
                                </li>
                                <li>	<i class="fas fa-star checked"></i>
                                </li>
                                <li>	<i class="fas fa-star checked"></i>
                                </li>
                                <li>	<i class="fas fa-star checked"></i>
                                </li>
                                <li>	<i class="fas fa-star not-checked"></i>
                                </li>
                            </ul>
                            <p class="mb-0">Melba Schaefer</p>
                            <h4 class="mb-0">Aerospace Engineering</h4>
                        </div>
                    </div>
                    <div class="about-instructor">
                        <div class="w-100 d-flex mb-2">
                            <div class="w-50">
                                <div class="instructor-univ d-flex align-items-center border-univ">
                                    <i class="fas fa-university"></i>
                                    <p>University of Hertfordshire</p>
                                </div>
                            </div>
                            <div class="w-50 pl-3">
                                <div class="instructor-univ d-flex align-items-center">
                                    <i class="fas fa-book"></i>
                                    <div class="d-block">
                                        <h5>Expertise </h5>
                                        <p>Aerodynamics</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="instructors-border"></div>
                    <div class="instructors-footer d-flex align-items-center">
                        <div class="instructors-count">
                            <p>Experience : 25 years</p>
                        </div>
                        <div class="instructors-amt ml-auto">
                            <a routerLink='/students/professor-profile' class="btn btn-secondary">BOOK NOW</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xl-3">
                <div class="popular-instructors">
                    <div class="instructors-head">
                        <div class="instructors-aut-img">
                            <img src="assets/img/admins/admin-04.jpg" alt="">
                        </div>
                    </div>
                    <div class="instructors-body">
                        <div class="instructors-ratings">
                            <ul class="mb-0">
                                <li>	<i class="fas fa-star checked"></i>
                                </li>
                                <li>	<i class="fas fa-star checked"></i>
                                </li>
                                <li>	<i class="fas fa-star checked"></i>
                                </li>
                                <li>	<i class="fas fa-star checked"></i>
                                </li>
                                <li>	<i class="fas fa-star not-checked"></i>
                                </li>
                            </ul>
                            <p class="mb-0">Diego Cantu</p>
                            <h4 class="mb-0">Aerospace Engineering</h4>
                        </div>
                    </div>
                    <div class="about-instructor">
                        <div class="w-100 d-flex mb-2">
                            <div class="w-50">
                                <div class="instructor-univ d-flex align-items-center border-univ">
                                    <i class="fas fa-university"></i>
                                    <p>University of Hertfordshire</p>
                                </div>
                            </div>
                            <div class="w-50 pl-3">
                                <div class="instructor-univ d-flex align-items-center">
                                    <i class="fas fa-book"></i>
                                    <div class="d-block">
                                        <h5>Expertise </h5>
                                        <p>Aerodynamics</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="instructors-border"></div>
                    <div class="instructors-footer d-flex align-items-center">
                        <div class="instructors-count">
                            <p>Experience : 25 years</p>
                        </div>
                        <div class="instructors-amt ml-auto">
                            <a routerLink='/students/professor-profile' class="btn btn-secondary">BOOK NOW</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xl-3">
                <div class="popular-instructors">
                    <div class="instructors-head">
                        <div class="instructors-aut-img">
                            <img src="assets/img/admins/admin-07.jpg" alt="">
                        </div>
                    </div>
                    <div class="instructors-body">
                        <div class="instructors-ratings">
                            <ul class="mb-0">
                                <li>	<i class="fas fa-star checked"></i>
                                </li>
                                <li>	<i class="fas fa-star checked"></i>
                                </li>
                                <li>	<i class="fas fa-star checked"></i>
                                </li>
                                <li>	<i class="fas fa-star checked"></i>
                                </li>
                                <li>	<i class="fas fa-star not-checked"></i>
                                </li>
                            </ul>
                            <p class="mb-0">Laura Richter</p>
                            <h4 class="mb-0">Aerospace Engineering</h4>
                        </div>
                    </div>
                    <div class="about-instructor">
                        <div class="w-100 d-flex mb-2">
                            <div class="w-50">
                                <div class="instructor-univ d-flex align-items-center border-univ">
                                    <i class="fas fa-university"></i>
                                    <p>University of Hertfordshire</p>
                                </div>
                            </div>
                            <div class="w-50 pl-3">
                                <div class="instructor-univ d-flex align-items-center">
                                    <i class="fas fa-book"></i>
                                    <div class="d-block">
                                        <h5>Expertise </h5>
                                        <p>Aerodynamics</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="instructors-border"></div>
                    <div class="instructors-footer d-flex align-items-center">
                        <div class="instructors-count">
                            <p>Experience : 25 years</p>
                        </div>
                        <div class="instructors-amt ml-auto">
                            <a routerLink='/students/professor-profile' class="btn btn-secondary">BOOK NOW</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /Top Instructor -->

<!-- Featured -->
<section class="featured-section bg-blue-dark">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="featured-card bg-blue">
                    <h2 class="text-white">Popular Courses</h2>
                    <p class="text-white">Courses for all levels cover technical skills, creative techniques, business strategies, and more. We have collected all of the necessary effective study.</p>
                    <a routerLink='/instructors/course' class="text-white">View More <i class="fas fa-caret-right right-nav-blue"></i></a>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="featured-card bg-primary">
                    <h2 class="text-white">Top rated Instructors</h2>
                    <p class="text-white">Courses for all levels cover technical skills, creative techniques, business strategies, and more. We have collected all of the necessary effective study.</p>
                    <a routerLink='/students/search' class="text-white">View More <i class="fas fa-caret-right right-nav-white"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /Featured -->

<!-- Testimonial -->
<section class="section section-testimonial">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="heading">
                    <div class="section-heading">
                        <div class="header-main">
                            <div class="header-left"></div>
                            <h2>Students<span class="text-primary">REVIEWS</span></h2>
                            <div class="header-right"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="testimonial-container">

            <!-- Testimonial Images -->
            <div class="row image-row">
                <a class="prev" (click)="plusSlides(-1)">&#10094;</a>

                <img class="testi-user-img cursor" src="./assets/img/clients/client1.jpg" (click)="currentSlide(1)" alt="User">
                <img class="testi-user-img cursor" src="./assets/img/clients/client2.jpg" (click)="currentSlide(2)" alt="User">
                <img class="testi-user-img cursor" src="./assets/img/clients/client3.jpg" (click)="currentSlide(3)" alt="User">
                <img class="testi-user-img cursor" src="./assets/img/clients/client4.jpg" (click)="currentSlide(4)" alt="User">
                <img class="testi-user-img cursor" src="./assets/img/clients/client5.jpg" (click)="currentSlide(5)" alt="User">
                <img class="testi-user-img cursor" src="./assets/img/clients/client6.jpg" (click)="currentSlide(6)" alt="User">
                <img class="testi-user-img cursor" src="./assets/img/clients/client7.jpg" (click)="currentSlide(7)" alt="User">

                <a class="next" (click)="plusSlides(1)">&#10095;</a>
            </div>
            <!-- Testimonial Contents -->
            <div class="mySlides text-center">
                <div class="quotes mb-3">
                    <i class="fas fa-quote-left"></i>
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Volutpat orci enim, mattis nibh aliquam dui, nibh faucibus aenean. Eget volutpat sed fermentum, eget tincidunt aliquet. Et, amet, scelerisque ultrices fermentum, adipiscing. Quam eu tellus congue ridiculus quam scelerisque sed.</p>
                <h4>Davis Payerf</h4>
                <h5>Phyton Developer</h5>
            </div>
            <div class="mySlides text-center">
                <div class="quotes mb-3">
                    <i class="fas fa-quote-left"></i>
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Volutpat orci enim, mattis nibh aliquam dui, nibh faucibus aenean. Eget volutpat sed fermentum, eget tincidunt aliquet. Et, amet, scelerisque ultrices fermentum, adipiscing. Quam eu tellus congue ridiculus quam scelerisque sed.</p>
                <h4>John Smith</h4>
                <h5>Web Developer</h5>
            </div>
            <div class="mySlides text-center">
                <div class="quotes mb-3">
                    <i class="fas fa-quote-left"></i>
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Volutpat orci enim, mattis nibh aliquam dui, nibh faucibus aenean. Eget volutpat sed fermentum, eget tincidunt aliquet. Et, amet, scelerisque ultrices fermentum, adipiscing. Quam eu tellus congue ridiculus quam scelerisque sed.</p>
                <h4>Davis Payerf</h4>
                <h5>Web Developer</h5>
            </div>
            <div class="mySlides text-center">
                <div class="quotes mb-3">
                    <i class="fas fa-quote-left"></i>
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Volutpat orci enim, mattis nibh aliquam dui, nibh faucibus aenean. Eget volutpat sed fermentum, eget tincidunt aliquet. Et, amet, scelerisque ultrices fermentum, adipiscing. Quam eu tellus congue ridiculus quam scelerisque sed.</p>
                <h4>John Smith</h4>
                <h5>Php Developer</h5>
            </div>
            <div class="mySlides text-center">
                <div class="quotes mb-3">
                    <i class="fas fa-quote-left"></i>
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Volutpat orci enim, mattis nibh aliquam dui, nibh faucibus aenean. Eget volutpat sed fermentum, eget tincidunt aliquet. Et, amet, scelerisque ultrices fermentum, adipiscing. Quam eu tellus congue ridiculus quam scelerisque sed.</p>
                <h4>Davis Payerf</h4>
                <h5>Developer</h5>
            </div>
            <div class="mySlides text-center">
                <div class="quotes mb-3">
                    <i class="fas fa-quote-left"></i>
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Volutpat orci enim, mattis nibh aliquam dui, nibh faucibus aenean. Eget volutpat sed fermentum, eget tincidunt aliquet. Et, amet, scelerisque ultrices fermentum, adipiscing. Quam eu tellus congue ridiculus quam scelerisque sed.</p>
                <h4>John Smith</h4>
                <h5>Developer</h5>
            </div>
            <div class="mySlides text-center">
                <div class="quotes mb-3">
                    <i class="fas fa-quote-left"></i>
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Volutpat orci enim, mattis nibh aliquam dui, nibh faucibus aenean. Eget volutpat sed fermentum, eget tincidunt aliquet. Et, amet, scelerisque ultrices fermentum, adipiscing. Quam eu tellus congue ridiculus quam scelerisque sed.</p>
                <h4>John David</h4>
                <h5>Developer</h5>
            </div>
            <!-- /Testimonial Contents -->

        </div>
    </div>
</section>
<!-- /Testimonial -->
<!-- Blog -->
<section class="blog-sections">
  <div class="container" *ngIf="publicationList | async as publications">
    <div class="row">
      <div class="col-md-12">
        <div class="heading">
          <div class="section-heading">
            <div class="header-main">
              <div class="header-left"></div>
              <h2>Latest <span class="text-primary">POSTS</span></h2>
              <div class="header-right"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div *ngFor="let p of publications.slice(-3)" class="col-md-4">
        <div class="blog-box blog-grid-box">
          <div class="blog-grid-box-img">
            <a [routerLink]="['/blog/blog-details', p.idpub]" (click)="redirectToDetails(p)">
                <img src='assets/img/blog/OIP.jpg' class="img-fluid" alt="">
            </a>
          </div>
          <div class="blog-grid-box-content">
            <div class="blog-avatar text-center">
              <p>Posted on {{p.datePub }}</p>
            </div>
            <h4><a [routerLink]="['/blog/blog-details', p.idpub]" (click)="redirectToDetails(p)">{{p.subject}}</a></h4>
            <p>{{p.content}}</p>
            <a [routerLink]="['/blog/blog-details', p.idpub]" (click)="redirectToDetails(p)" class="text-info view-more">View More <i class="fas fa-caret-right right-nav-white-2"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /Blog -->
