
<!-- Breadcrumb -->
<div class="breadcrumb-bar">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-12 col-12">
                <nav aria-label="breadcrumb" class="page-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a routerLink='/'>Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Reclamation</li>
                    </ol>
                </nav>
                <h2 class="breadcrumb-title">Reclamation</h2>
            </div>
        </div>
    </div>
</div>
<!-- /Breadcrumb -->

<!-- Page Content -->
<div class="content">
    <div class="container">

        <div class="row">
            <div class="col-md-12 col-lg-12 col-xl-12">
                <div class="doc-review review-listing custom-edit-service">

                    <div class="row mb-5">
                        <div class="col">
                            <ul class="nav nav-tabs nav-tabs-solid">

                            </ul>
                        </div>
                        <div class="col-auto">
                            <a class="btn btn-primary btn-sm" (click)="openAddFormulaire()"><i class="fas fa-plus mr-1"></i> Ajouter Reclamation</a>
                        </div>
                    </div>
                
                    <!-- Add Blog -->
                    <div class="card">
                        <div class="card-body">	            
                            <div class="card card-table">
                                <div class="card-body">
                                
                                    <!-- Invoice Table -->
                                    <div class="table-responsive">
                                        <table class="table table-hover table-center mb-0">
                                            <thead>
                                                <tr>
                                                    <th>ID</th>
                                                    <th>Categorie</th>
                                                    <th>Objet</th>
                                                    <th>Statut</th>
                                                    <th></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                               <tr *ngFor ="let r of reclamation">
                                                <td>
                                                    {{r.id}}
                                                </td>
                                                <td>
                                                {{r.type}}
                                                </td>
                                                <td>
                                                    {{r.objet}}
                                                </td>
                                                <td>
                                                    {{r.traite}}
                                                </td>
                                                </tr>
                                            </tbody> 
                                        </table>
                                    </div>
                                    <!-- /Invoice Table -->
                                    
                                </div>
                            </div>

                        </div>
                    </div>
                    <!-- /Add Blog -->

                </div>
            </div>
        </div>
    </div>

</div>		
<!-- /Page Content -->