.form-grouprec {
    font-size: 20px; /* Taille de police de 16 pixels */
        width: 500px; /* Largeur de la zone de texte */
        height: 300px; /* Hauteur de la zone de texte */
}

.text-black {
    color: black;
}